@if (transaction) {
<section class="container">
  <h2 class="mx-4">Transaction Details #{{ transaction.refId }}</h2>
  <div class="bg-white mt-4 rounded-4 p-4">
    <div class="d-flex row">
      <!-- Left side -->
      <div class="col-12 row d-flex g-5 mt-0 col-lg-5">
        <div class="mt-0">
          <span class="fw-light">Transaction Type</span>
          <h6 class="fw-bold mt-2">{{ transaction.transactionType }}</h6>
        </div>
        <div>
          <span class="fw-light">Amount</span>
          <h6 class="">
            <app-currency-amount
              [amount]="transaction.amount"
              [size]="6"
              [extraClass]="' fw-bold mt-2'"
            >
            </app-currency-amount>
          </h6>
        </div>
        <div>
          <span class="fw-light">From Account</span>
          <h6 class="fw-bold mt-2">
            {{ transaction.transactionMethod }}
            {{ transaction.accountNumber || "" }}
          </h6>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-12 row d-flex g-5 mt-0 col-lg-7">
        <div class="mt-0">
          <span class="fw-light">Description</span>
          <h6 class="fw-bold mt-2">{{ transaction.description || "-" }}</h6>
        </div>
        <div>
          <span class="fw-light">Date</span>
          <h6 class="fw-bold mt-2">
            {{ transaction.createDate | date : "dd MMM, y - h:mm a" }}
          </h6>
        </div>
        <div>
          <span class="fw-light">State</span>
          <h6 class="fw-bold mt-2">{{ transaction.transactionStatus }}</h6>
        </div>
      </div>

      <!-- Back button -->
      <div class="col-12 mt-5 justify-content-end row d-flex">
        <button
          (click)="goBack()"
          class="col-12 rounded-4 col-lg-2 btn btn-primary"
        >
          <span class="fw-light">Back</span>
        </button>
      </div>
    </div>
  </div>
</section>
}
