.sidebar-link {
  text-decoration: none;
}


.sidebar {
  padding: 2rem 0;
  position: sticky;
  top: 0;

  ul {
    li a {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #B1B1B1;
      padding: .5rem 1rem;
      position: relative;

      &:hover {
        color: var(--primary-color);

        &::after {
          content: "";
          width: 6px;
          height: 100%;
          background: var(--primary-color);
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 8px 0px 0px 8px;
        }
      }

      &.active {
        color: var(--primary-color);

        &::after {
          content: "";
          width: 6px;
          height: 100%;
          background: var(--primary-color);
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 8px 0px 0px 8px;
        }
      }

    }
  }
}