.card-title {}

.initials {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    color: white;
}


.stats-card {
    .icon {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.2rem;

        &.success {
            background: #DCFAF8;
        }

        &.danger {
            background: #FFE0EB;
        }

        &.primary {
            background: #E7EDFF;
        }

        &.warning {
            background: #FFF5D9;
        }

        img {
            width: 30px;
        }
    }
}