.initials,
.profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  color: white;
}

.stats-card {
  .icon {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;

    &.success {
      background: #dcfaf8;
    }

    &.danger {
      background: #ffe0eb;
    }

    &.primary {
      background: #e7edff;
    }

    &.warning {
      background: #fff5d9;
    }

    img {
      width: 30px;
    }
  }
}
.custom-col-xl-4,
.custom-col-xl-8 {
  width: 100%; // يعني col-12 تحت 1346px
}

@media (min-width: 1346px) {
  .custom-col-xl-4 {
    width: 33.3333%; // col-xl-4
  }

  .custom-col-xl-8 {
    width: 66.6667%; // col-xl-8
  }
}
