<section class="container row mx-auto pt-6 pb-6">
    <div class="col-6">
        <h1>خبرات استثمارية لخدمة أهدافك</h1>
        <p>شركة تام المالية هي شركة مالية استثمارية تقدم منتجات وحلول استثمارية مبتكرة ومتوافقة مع الشريعة الإسلامية على
            مستوى عالمي للمؤسسات والشركات العائلية والمستثمرين المؤهلين والأفراد.
            لدى تام المالية نخبة من المهنيين ذوي الخبرات الواسعة والمتنوعة في تقديم خدمات إدارة الأصول، بما في ذلك إدارة
            الصناديق والمحافظ الاستثمارية، والاستشارات، والأسواق المالية، والاستثمارات العقارية.
            شركة تام المالية هي شركة مالية استثمارية تقدم منتجات وحلول استثمارية مبتكرة ومتوافقة مع الشريعة الإسلامية
            على مستوى عالمي للمؤسسات والشركات العائلية والمستثمرين المؤهلين والأفراد.
            لدى تام المالية نخبة من المهنيين ذوي الخبرات الواسعة والمتنوعة في تقديم خدمات إدارة الأصول، بما في ذلك إدارة
            الصناديق والمحافظ الاستثمارية، والاستشارات، والأسواق المالية، والاستثمارات العقارية.
            تأسست شركة تام المالية عام 2024 سجل تجاري دقم xxxxx ورأس المال المدفوع 25.5 مليون ريال سعودي. وحصلت على
            ترخيص هيئة السوق المالية لنشاط الترتيب وإدارة الاستثمارات بتاريخ 1/10/2024 ورقم xxxx
        </p>
    </div>
    <div class="col-6">
        <ul>
            <li>
                <img src=""
                     alt="">
                <div>
                    <h6>2024</h6>
                    <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                </div>
            </li>
            <li>
                <img src=""
                     alt="">
                <div>
                    <h6>2024</h6>
                    <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                </div>
            </li>
            <li>
                <img src=""
                     alt="">
                <div>
                    <h6>2024</h6>
                    <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                </div>
            </li>
            <li>
                <img src=""
                     alt="">
                <div>
                    <h6>2024</h6>
                    <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                </div>
            </li>
        </ul>
    </div>
</section>