<section class="container d-flex flex-column gap-5  pt-6 pb-6">
    <div class="row mx-auto g-5">
        <div class="col-12 col-lg-6 d-flex flex-column gap-3">
            <h1>خبرات استثمارية لخدمة أهدافك</h1>
            <p>شركة تام المالية هي شركة مالية استثمارية تقدم منتجات وحلول استثمارية مبتكرة ومتوافقة مع الشريعة الإسلامية
                على
                مستوى عالمي للمؤسسات والشركات العائلية والمستثمرين المؤهلين والأفراد.
                لدى تام المالية نخبة من المهنيين ذوي الخبرات الواسعة والمتنوعة في تقديم خدمات إدارة الأصول، بما في ذلك
                إدارة
                الصناديق والمحافظ الاستثمارية، والاستشارات، والأسواق المالية، والاستثمارات العقارية.
                شركة تام المالية هي شركة مالية استثمارية تقدم منتجات وحلول استثمارية مبتكرة ومتوافقة مع الشريعة
                الإسلامية
                على مستوى عالمي للمؤسسات والشركات العائلية والمستثمرين المؤهلين والأفراد.
                لدى تام المالية نخبة من المهنيين ذوي الخبرات الواسعة والمتنوعة في تقديم خدمات إدارة الأصول، بما في ذلك
                إدارة
                الصناديق والمحافظ الاستثمارية، والاستشارات، والأسواق المالية، والاستثمارات العقارية.
                تأسست شركة تام المالية عام 2024 سجل تجاري دقم xxxxx ورأس المال المدفوع 25.5 مليون ريال سعودي. وحصلت على
                ترخيص هيئة السوق المالية لنشاط الترتيب وإدارة الاستثمارات بتاريخ 1/10/2024 ورقم xxxx
            </p>
        </div>
        <div class="col-12 col-lg-6 ">
            <ul class="d-flex flex-column gap-4">
                <li class="d-flex align-items-start gap-4">
                    <img src="assets/icons/calendar.svg"
                         alt="">
                    <div class="d-flex flex-column gap-2">
                        <h4>2024</h4>
                        <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                    </div>
                </li>
                <li class="d-flex align-items-start gap-4">
                    <img src="assets/icons/calendar.svg"
                         alt="">
                    <div class="d-flex flex-column gap-2">
                        <h4>2024</h4>
                        <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                    </div>
                </li>
                <li class="d-flex align-items-start gap-4">
                    <img src="assets/icons/calendar.svg"
                         alt="">
                    <div class="d-flex flex-column gap-2">
                        <h4>2024</h4>
                        <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                    </div>
                </li>
                <li class="d-flex align-items-start gap-4">
                    <img src="assets/icons/calendar.svg"
                         alt="">
                    <div class="d-flex flex-column gap-2">
                        <h4>2024</h4>
                        <p>تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية عام 2024</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>