<section class="container d-flex flex-column gap-5 pt-6 pb-6">
  <div class="row mx-auto g-5">
    <div class="col-12 col-lg-6 d-flex flex-column gap-3">
      <h1>{{ "SERVICES.INTRO.HEADING" | translate }}</h1>
      <p>{{ "SERVICES.INTRO.DESCRIPTION" | translate }}</p>
    </div>
    <div class="col-12 col-lg-6">
      <ul class="d-flex flex-column gap-4">
        <li class="d-flex align-items-start gap-4">
          <img src="assets/icons/calendar.svg" alt="" />
          <div class="d-flex flex-column gap-2">
            <h4>{{ "SERVICES.INTRO.CARD.YEAR" | translate }}</h4>
            <p>{{ "SERVICES.INTRO.CARD.TEXT" | translate }}</p>
          </div>
        </li>
        <li class="d-flex align-items-start gap-4">
          <img src="assets/icons/calendar.svg" alt="" />
          <div class="d-flex flex-column gap-2">
            <h4>{{ "SERVICES.INTRO.CARD.YEAR" | translate }}</h4>
            <p>{{ "SERVICES.INTRO.CARD.TEXT" | translate }}</p>
          </div>
        </li>
        <li class="d-flex align-items-start gap-4">
          <img src="assets/icons/calendar.svg" alt="" />
          <div class="d-flex flex-column gap-2">
            <h4>{{ "SERVICES.INTRO.CARD.YEAR" | translate }}</h4>
            <p>{{ "SERVICES.INTRO.CARD.TEXT" | translate }}</p>
          </div>
        </li>
        <li class="d-flex align-items-start gap-4">
          <img src="assets/icons/calendar.svg" alt="" />
          <div class="d-flex flex-column gap-2">
            <h4>{{ "SERVICES.INTRO.CARD.YEAR" | translate }}</h4>
            <p>{{ "SERVICES.INTRO.CARD.TEXT" | translate }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
