<div class="text-center justify-content-center container">
  <h4 class="m-4 text-primary fw-bold">إشعار المخاطر</h4>
  <p class="mb-3 text-primary">
    يقر المستخدم بأن شركة تام المالية يقر المستخدم بأن شركة تام المالية يقر
    المستخدم بأن شركة تام المالية يقر المستخدم بأن شركة تام المالية يقر المستخدم
    بأن شركة تام المالية يقر المستخدم بأن شركة تام المالية يقر المستخدم بأن شركة
    تام المالية يقر المستخدم بأن شركة تام المالية يقر المستخدم بأن شركة تام
    المالية يقر المستخدم بأن شركة تام المالية
  </p>
</div>
