<header [class.sticky]="sticky">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- NAV 1 -->
    <nav class="nav-1">
      <!-- LOGO -->
      <a [routerLink]="'/'"
         class="logo">
        <img [src]="cmsAssetsUrl + APP_CONFIG.logoPath"
             alt="" />
      </a>
      <ul class="d-none d-lg-flex">
        <li>
          <a [routerLink]="'/'">{{
            "LAYOUT.HEADER.NAV_1.ITEM_1" | translate
            }}</a>
        </li>
        <li>
          <a [routerLink]="'/' + WEB_ROUTES.ABOUT_US.ROOT">{{
            "LAYOUT.HEADER.NAV_1.ITEM_2" | translate
            }}</a>
        </li>
        <li>
          <a [routerLink]="'/' + WEB_ROUTES.SERVICES.ROOT">{{
            "LAYOUT.HEADER.NAV_1.ITEM_3" | translate
            }}</a>
        </li>
        <li>
          <a [routerLink]="'/'">{{
            "LAYOUT.HEADER.NAV_1.ITEM_4" | translate
            }}</a>
        </li>
      </ul>
    </nav>
    <!-- NAV 2 -->
    <nav class="nav-2 d-none d-lg-flex">
      <ul>
        <li>
          <a [routerLink]="'/'">{{
            "LAYOUT.HEADER.NAV_2.ITEM_1" | translate
            }}</a>
        </li>
        <li>
          <a [routerLink]="'/' + WEB_ROUTES.OPPORTUNITIES.ROOT">{{
            "LAYOUT.HEADER.NAV_2.ITEM_2" | translate
            }}</a>
        </li>
      </ul>
    </nav>

    <!-- Nav Toggle Button -->
    <button class="navbar-toggler collapsed navicon justify-content-end d-flex d-lg-none"
            [ngClass]="{ open: navbarToggler }"
            type="button"
            (click)="openSidebar(content)">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>

<ng-template #content
             let-offcanvas>
  <div class="offcanvas-header d-flex align-items-center justify-content-between">
    <h4 class="offcanvas-title">
      {{ "LAYOUT.HEADER.NAV_2.TITLE" | translate }}
    </h4>
    <button type="button"
            class="navbar-toggler"
            aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')">
      <i class="fas fa-close"></i>
    </button>
  </div>
  <div class="offcanvas-body d-flex flex-column gap-3">
    <nav class="mb-auto">
      <ul class="nav navbar-nav navbar p-0 gap-2">
        <li class="w-100">
          <a class="text-primary text-start"
             href="">{{
            "LAYOUT.HEADER.NAV_1.ITEM_1" | translate
            }}</a>
        </li>
        <li class="w-100">
          <a class="text-primary text-start"
             [routerLink]="'/' + WEB_ROUTES.ABOUT_US.ROOT">{{ "LAYOUT.HEADER.NAV_1.ITEM_2" | translate }}</a>
        </li>
        <li class="w-100">
          <a class="text-primary text-start"
             href="">{{
            "LAYOUT.HEADER.NAV_1.ITEM_3" | translate
            }}</a>
        </li>
        <li class="w-100">
          <a class="text-primary text-start"
             href="">{{
            "LAYOUT.HEADER.NAV_1.ITEM_4" | translate
            }}</a>
        </li>
      </ul>
    </nav>
    <div class="extra-nav d-flex justify-content-stretch gap-2">
      <a href="javascript:void(0);"
         (click)="offcanvas.dismiss()"
         class="btn btn-outline-primary flex-grow-1">
        {{ "LAYOUT.HEADER.NAV_2.ITEM_1" | translate }}
      </a>
      <a href="javascript:void(0);"
         (click)="offcanvas.dismiss()"
         class="btn btn-primary flex-grow-1">
        <span>{{ "LAYOUT.HEADER.NAV_2.ITEM_2" | translate }}</span>
      </a>
    </div>
  </div>
</ng-template>