.currency-icon {
  height: 1em;
  width: auto;
  vertical-align: middle;
  display: inline-block;
  object-fit: contain;
}
.currency-icon {
  height: 1em !important;
  width: auto !important;
}
.currency-icon-size-1 {
  width: 24px;
  height: 24px;
}

.currency-icon-size-2 {
  width: 20px;
  height: 20px;
}

.currency-icon-size-3 {
  width: 16px;
  height: 16px;
}

.currency-icon-size-4 {
  width: 15px;
  height: 15px;
}

.currency-icon-size-5 {
  width: 14px;
  height: 14px;
}

.currency-icon-size-6 {
  width: 12px;
  height: 12px;
}
