.container {
  width: 1216;
  height: 386;
  padding-top: 51px;
  padding-bottom: 51px;
  padding-right: 40px;

  padding-left: 40px;
  gap: 32px;
}
.vector {
  margin-bottom: 10px;
  width: 384px;
  height: 130px;
}
