<div class="container">
  <div class="d-flex row justify-content-center">
    <!-- Vision Card -->
    <div class="col-md-4 col-12 d-flex flex-column gap-4">
      <div
        class="text-center d-flex flex-column align-items-center gap-3 header-fixed"
      >
        <img class="vector" src="assets/icons/about-us/eye.svg" alt="" />
        <p>{{ "ABOUT_US.VALUES.VISION.ICON_TEXT" | translate }}</p>
        <h4 class="fw-bold">
          {{ "ABOUT_US.VALUES.VISION.TITLE" | translate }}
        </h4>
      </div>
      <p>{{ "ABOUT_US.VALUES.VISION.DESCRIPTION" | translate }}</p>
    </div>

    <!-- Mission Card -->
    <div class="col-md-4 col-12 d-flex flex-column gap-4">
      <div
        class="text-center d-flex flex-column align-items-center gap-3 header-fixed"
      >
        <img class="vector" src="assets/icons/about-us/Rectangle.svg" alt="" />
        <p>{{ "ABOUT_US.VALUES.MISSION.ICON_TEXT" | translate }}</p>
        <h4 class="fw-bold">
          {{ "ABOUT_US.VALUES.MISSION.TITLE" | translate }}
        </h4>
      </div>
      <p>{{ "ABOUT_US.VALUES.MISSION.DESCRIPTION" | translate }}</p>
    </div>

    <!-- Goal Card -->
    <div class="col-md-4 col-12 d-flex flex-column gap-4">
      <div
        class="text-center d-flex flex-column align-items-center gap-3 header-fixed"
      >
        <img class="vector" src="assets/icons/about-us/Image.svg" alt="" />
        <p>{{ "ABOUT_US.VALUES.GOAL.ICON_TEXT" | translate }}</p>
        <h4 class="fw-bold">{{ "ABOUT_US.VALUES.GOAL.TITLE" | translate }}</h4>
      </div>
      <p>{{ "ABOUT_US.VALUES.GOAL.DESCRIPTION" | translate }}</p>
    </div>
  </div>
</div>
