<div class="container">
  <div class="d-flex row justify-content-center">
    <!-- card -->
    @for (item of content.values; track $index) {
    <div class="col-md-4 col-12 d-flex flex-column gap-4">
      <div class="text-center d-flex flex-column align-items-center gap-3 header-fixed">
        <img class="vector"
             [src]="CMS_ASSETS_URL + item?.image?.url"
             alt="" />
        <p>{{ item.subtitle }}</p>
        <h4 class="fw-bold">{{ item.title }}</h4>
      </div>

      <p class="">
        {{ item.description }}
      </p>
    </div>
    }
  </div>
</div>