<!-- header -->
<section
  class="d-flex flex-column justify-content-center gap-2 text-center hero"
>
  <div class="container position-relative">
    <div class="d-flex gap-3 flex-column">
      <h1>
        {{ "ABOUT_US.HERO.HEADING" | translate }} <br />
        {{ "ABOUT_US.HERO.SUBHEADING" | translate }}
      </h1>
      <div class="d-flex gap-2 justify-content-center">
        <p>{{ "ABOUT_US.HERO.BREADCRUMB.HOME" | translate }}</p>
        <p>></p>
        <p class="fw-bold">
          {{ "ABOUT_US.HERO.BREADCRUMB.CURRENT" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- overview -->
<app-overview></app-overview>
<!-- values -->
<app-values></app-values>
<!-- members -->
<app-members></app-members>
<!-- management -->
<app-management></app-management>
<!-- compliance -->
<app-compliance></app-compliance>
<!-- riskNotice -->
<app-risknotice> </app-risknotice>
