<section class="container pt-6 pb-6">
  <div class="d-flex flex-column gap-4 mb-5 intro-text">
    <h6>
      {{ "HOMEPAGE.CTA.SUBTITLE" | translate }}
    </h6>
    <h1>
      {{ "HOMEPAGE.CTA.TITLE" | translate }}
    </h1>
  </div>

  <div class="row">
    <div class="col-12 col-md-5">
      <div
        class="position-relative d-flex funding justify-content-center align-items-center"
        [ngStyle]="{
          transform: currentLang === 'ar' ? 'scaleX(1)' : 'scaleX(-1)'
        }"
      >
        <img
          class="w-100 h-100"
          src="assets/images/funding.svg"
          alt="Outer Circle"
        />

        <img
          class="position-absolute rounded-circle"
          src="assets/images/towers2.svg"
          alt="Inner Image"
        />
      </div>
    </div>
    <div class="col-12 col-md-7 d-flex flex-column gap-4">
      <div class="row">
        <div class="col-12 col-md-6 g-5 d-flex flex-column gap-2">
          <h4>
            {{ "HOMEPAGE.CTA.BOX_1.TITLE" | translate }}
          </h4>
          <p>
            {{ "HOMEPAGE.CTA.BOX_1.DESC" | translate }}
          </p>
        </div>
        <div class="col-12 col-md-6 g-5 d-flex flex-column gap-2">
          <h4>
            {{ "HOMEPAGE.CTA.BOX_2.TITLE" | translate }}
          </h4>
          <p>
            {{ "HOMEPAGE.CTA.BOX_2.DESC" | translate }}
          </p>
        </div>
        <div class="col-12 col-md-6 g-5 d-flex flex-column gap-2">
          <h4>
            {{ "HOMEPAGE.CTA.BOX_3.TITLE" | translate }}
          </h4>
          <p>
            {{ "HOMEPAGE.CTA.BOX_3.DESC" | translate }}
          </p>
        </div>
        <div class="col-12 col-md-6 g-5 d-flex flex-column gap-2">
          <h4>
            {{ "HOMEPAGE.CTA.BOX_4.TITLE" | translate }}
          </h4>
          <p>
            {{ "HOMEPAGE.CTA.BOX_4.DESC" | translate }}
          </p>
        </div>
      </div>
      <a
        class="text-start w-100 text-primary text-decoration-underline"
        href=""
      >
        {{ "HOMEPAGE.CTA.CTA_BUTTON" | translate }}
      </a>
    </div>
  </div>
</section>
