<section class="container pt-6 pb-6">
    <div class="d-flex flex-column gap-4 mb-5 intro-text">
        <h6>
            تكوين المالية
        </h6>
        <h1>رحلتك التمويلية إلكترونية
            من خلال تقنياتنا والتكامل مع العديد من الجهات</h1>
    </div>

    <div class="row">
        <div class="col">
            <img src="assets/images/universe.svg"
                 alt="">
        </div>
        <div class="col d-flex flex-column gap-4">
            <div class="row">
                <div class="col col-md-6 g-5 d-flex flex-column gap-2">
                    <h4>
                        احصل على عرض تمويلي بشكل سريع وتتبع العملية من حسابك
                    </h4>
                    <p>
                        تمويل قصير أو طويل الأجل، حيث تمتد حتى 10 سنوات
                    </p>
                </div>
                <div class="col col-md-6 g-5 d-flex flex-column gap-2">
                    <h4>احصل على التمويل بشكل سريع بفضل تقنياتنا</h4>
                    <p>تمويل يصل حتى 20 مليون ريال</p>
                </div>
                <div class="col col-md-6 g-5 d-flex flex-column gap-2">
                    <h4>نعمل معك في هيكلة جدول السداد بحيث يناسب تدفقاتك النقدية</h4>
                    <p>تمويل يصل حتى 20 مليون ريال</p>

                </div>
                <div class="col col-md-6 g-5 d-flex flex-column gap-2">
                    <h4>نتيح إمكانية السداد المبكر بدون أي رسوم إضافية</h4>
                    <p>تمويل يصل حتى 20 مليون ريال</p>
                </div>
            </div>
            <a class="text-start  w-100 text-primary text-decoration-underline"
               href="">
                قدم طلب تمويلك الآن
            </a>
        </div>
    </div>
</section>