@import './custom/_utilities';
@import './custom/_override';
@import 'bootstrap/scss/bootstrap.scss';
@import './_variables';
@import './components/_button';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Tajawal", sans-serif;

}


a,
p,
ul,
li,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.vh-40 {
    height: 40vh !important;
}