<form class="d-flex flex-column gap-4"
      [formGroup]="formGroup">
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label class="form-label">Commercial registration number <span class="text-danger"></span></label>
      <input class="form-control"
             formControlName="commercialRegistrationNumber"
             type="text" />
      @if (formGroup.get('commercialRegistrationNumber')?.errors?.['required'] &&
      formGroup.get('commercialRegistrationNumber')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
    <div class="form-group col-12 col-md-6">
      <label class="form-label">Commissioner's ID number</label>
      <input class="form-control"
             formControlName="authorizedPersonId"
             type="text" />
      @if (formGroup.get('authorizedPersonId')?.errors?.['required'] &&
      formGroup.get('authorizedPersonId')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label class="form-label">Date of Birth</label>
      <input class="form-control"
             formControlName="authorizedPersonBirthDate"
             type="date"
             placeholder="0000000000" />
      @if (formGroup.get('authorizedPersonBirthDate')?.errors?.['required'] &&
      formGroup.get('authorizedPersonBirthDate')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
    <div class="form-group col-12 col-md-6">
      <label class="form-label">Phone number</label>
      <div class="input-group">


        @if (translationService.language === 'en') {
        <span class="input-group-text"
              dir="ltr">+966</span>
        }

        <input type="tel"
               class="form-control"
               formControlName="mobileNumber"
               placeholder="5xxxxxxxx" />

        @if (translationService.language === 'ar') {
        <span class="input-group-text"
              dir="ltr">+966</span>
        }
      </div>
      @if (formGroup.get('mobileNumber')?.errors?.['required'] &&
      formGroup.get('mobileNumber')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
  </div>
  <div class="form-group col-12">
    <label class="form-label">Email</label>
    <input class="form-control"
           formControlName="email"
           type="email"
           placeholder="mail@domain.com" />
    @if (formGroup.get('email')?.errors?.['required'] &&
    formGroup.get('email')?.touched ) {
    <small class="text-danger mt-1 d-flex align-items-center gap-1">
      <i class="fa-solid fa-circle-exclamation"></i>
      {{'VALIDATORS.REQUIRED' | translate}}
    </small>
    }
  </div>
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label class="form-label">Password</label>
      <div class="input-group">
        <input type="password"
               formControlName="password"
               #password
               class="form-control"
               id="password">

        <span class="input-group-text">
          @if (password.type === 'password') {
          <i (click)="password.type = 'text'"
             class="fa-solid fa-eye text-primary cursor-pointer"></i>
          }@else {
          <i (click)="password.type = 'password'"
             class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
          }
        </span>
      </div>
      @if (formGroup.get('password')?.errors?.['required'] &&
      formGroup.get('password')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
    <div class="form-group col-12 col-md-6">
      <label class="form-label">Password Confirmation</label>
      <div class="input-group">
        <input class="form-control"
               #confirmPassword
               formControlName="confirmPassword"
               type="password"
               placeholder="" />

        <span class="input-group-text">
          @if (confirmPassword.type === 'password') {
          <i (click)="confirmPassword.type = 'text'"
             class="fa-solid fa-eye text-primary cursor-pointer"></i>
          }@else {
          <i (click)="confirmPassword.type = 'password'"
             class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
          }
        </span>
      </div>

      @if (formGroup.get('confirmPassword')?.errors?.['required'] &&
      formGroup.get('confirmPassword')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
  </div>
  <div class="d-flex align-items-center gap-2">
    <input type="checkbox"
           id="terms"
           formControlName="acceptTerms"
           class="m-0" />
    <label for="terms"
           class="form-label mb-0">
      I agree to the
      <a class="text-primary text-decoration-underline"
         href=""> Terms and Conditions </a>
    </label>
  </div>
</form>