<form class="d-flex flex-column gap-4"
      [formGroup]="formGroup">
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label
             class="form-label">{{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.FORM.COMMERCIAL_REGISTRATION_NUMBER.LABEL'
        | translate}} <span class="text-danger"></span></label>
      <input class="form-control"
             formControlName="commercialRegistrationNumber"
             type="text" />
      @if (formGroup.get('commercialRegistrationNumber')?.errors?.['required'] &&
      formGroup.get('commercialRegistrationNumber')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
    <div class="form-group col-12 col-md-6">
      <label class="form-label">{{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.FORM.COMMISSIONER_ID_NUMBER.LABEL'
        | translate}}</label>
      <input class="form-control"
             formControlName="authorizedPersonId"
             type="text" />
      @if (formGroup.get('authorizedPersonId')?.errors?.['required'] &&
      formGroup.get('authorizedPersonId')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label class="form-label">{{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.FORM.BIRTH_DATE.LABEL'
        | translate}}</label>
      @if (lang === 'en') {
      <app-gregorian-datepicker formControlName="authorizedPersonBirthDate"></app-gregorian-datepicker>
      }@else{
      <app-islamic-datepicker formControlName="authorizedPersonBirthDate"></app-islamic-datepicker>
      }
      @if (formGroup.get('authorizedPersonBirthDate')?.errors?.['required'] &&
      formGroup.get('authorizedPersonBirthDate')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
    <div class="form-group col-12 col-md-6">
      <label class="form-label">{{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.FORM.PHONE_NUMBER.LABEL'
        | translate}}</label>
      <div class="input-group">


        @if (translationService.language === 'en') {
        <span class="input-group-text"
              dir="ltr">+966</span>
        }

        <input type="tel"
               class="form-control"
               formControlName="mobileNumber"
               placeholder="5xxxxxxxx" />

        @if (translationService.language === 'ar') {
        <span class="input-group-text"
              dir="ltr">+966</span>
        }
      </div>
      @if (formGroup.get('mobileNumber')?.errors?.['required'] &&
      formGroup.get('mobileNumber')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
  </div>
  <div class="form-group col-12">
    <label class="form-label">{{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.FORM.EMAIL.LABEL'
      | translate}}</label>
    <input class="form-control"
           formControlName="email"
           type="email" />
    @if (formGroup.get('email')?.errors?.['required'] &&
    formGroup.get('email')?.touched ) {
    <small class="text-danger mt-1 d-flex align-items-center gap-1">
      <i class="fa-solid fa-circle-exclamation"></i>
      {{'VALIDATORS.REQUIRED' | translate}}
    </small>
    }
  </div>
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label class="form-label">{{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.FORM.PASSWORD.LABEL'
        | translate}}</label>
      <div class="input-group">
        <input type="password"
               formControlName="password"
               #password
               class="form-control"
               id="password">

        <span class="input-group-text">
          @if (password.type === 'password') {
          <i (click)="password.type = 'text'"
             class="fa-solid fa-eye text-primary cursor-pointer"></i>
          }@else {
          <i (click)="password.type = 'password'"
             class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
          }
        </span>
      </div>
      @if (formGroup.get('password')?.errors?.['required'] &&
      formGroup.get('password')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
    <div class="form-group col-12 col-md-6">
      <label class="form-label">{{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.FORM.PASSWORD_CONFIRMATION.LABEL'
        | translate}}</label>
      <div class="input-group">
        <input class="form-control"
               #confirmPassword
               formControlName="confirmPassword"
               type="password"
               placeholder="" />

        <span class="input-group-text">
          @if (confirmPassword.type === 'password') {
          <i (click)="confirmPassword.type = 'text'"
             class="fa-solid fa-eye text-primary cursor-pointer"></i>
          }@else {
          <i (click)="confirmPassword.type = 'password'"
             class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
          }
        </span>
      </div>

      @if (formGroup.get('confirmPassword')?.errors?.['required'] &&
      formGroup.get('confirmPassword')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{'VALIDATORS.REQUIRED' | translate}}
      </small>
      }
    </div>
  </div>
  <div class="d-flex align-items-center gap-2">
    <input type="checkbox"
           id="terms"
           formControlName="acceptTerms"
           class="m-0" />
    <label for="terms"
           class="form-label mb-0">
      {{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.TERMS.LABEL' | translate}}

      <a class="text-primary text-decoration-underline"
         href=""> {{'AUTHENTICATION.REGISTRATION.COMPANY.INFORMATION.TERMS.LINK' | translate}} </a>
    </label>
  </div>
</form>