<div class="container d-flex flex-column justify-content-center h-100 align-items-center">
  <div class="d-flex gap-4 justify-content-center row align-items-center w-100">
    <div class="d-flex flex-column gap-3 col-12">
      <div class="d-flex flex-column gap-3">
        <h1 class="fw-semibold text-center">
          {{ 'AUTHENTICATION.FORGOT_PASSWORD.TITLE' | translate }}
        </h1>
      </div>

      <div class="card-bg d-flex flex-column p-3 rounded-4">
        <form [formGroup]="formGroup" (ngSubmit)="onConfirm()" class="row g-4">
          <!-- OTP input -->
          <div class="col-12 text-center">
            <label for="otp" class="form-label">
              {{ 'AUTHENTICATION.FORGOT_PASSWORD.OTP_LABEL' | translate }}
            </label>
            <div class="input-group justify-content-center">
              <ng-otp-input
                id="otp"
                formControlName="otp"
                dir="ltr"
                [config]="{
                  length: otpLength,
                  allowNumbersOnly: true,
                }"
              ></ng-otp-input>
            </div>
            <div class="position-relative" style="min-height: 48px"></div>
          </div>

          <!-- New password -->
          <div class="col-12">
            <label for="newPassword" class="form-label">
              {{ 'AUTHENTICATION.FORGOT_PASSWORD.NEW_PASSWORD_LABEL' | translate }}
            </label>
            <div class="input-group">
              <input
                id="newPassword"
                type="password"
                formControlName="newPassword"
                class="form-control"
                placeholder="***********"
                #newPassword
              />
              <span class="input-group-text">
                @if (newPassword.type === 'password') {
                  <i (click)="newPassword.type = 'text'" class="fa-solid fa-eye text-primary cursor-pointer"></i>
                } @else {
                  <i
                    (click)="newPassword.type = 'password'"
                    class="fa-solid fa-eye-slash text-primary cursor-pointer"
                  ></i>
                }
              </span>
            </div>
            <div class="position-relative">
              @if (formGroup.get('newPassword')?.touched && formGroup.get('newPassword')?.hasError('required')) {
                <small class="text-danger d-block mt-1">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  {{ 'VALIDATORS.REQUIRED' | translate }}
                </small>
              } @else if (formGroup.get('newPassword')?.touched && formGroup.get('newPassword')?.hasError('pattern')) {
                <small class="text-danger d-block mt-1">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  {{ 'VALIDATORS.INVALID_PASSWORD' | translate }}
                </small>
              }
            </div>
          </div>

          <!-- Confirm password -->
          <div class="col-12">
            <label for="confirmedPassword" class="form-label">
              {{ 'AUTHENTICATION.FORGOT_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate }}
            </label>
            <div class="input-group">
              <input
                id="confirmedPassword"
                type="password"
                formControlName="confirmedPassword"
                class="form-control"
                placeholder="***********"
                #confirmedPassword
              />
              <span class="input-group-text">
                @if (confirmedPassword.type === 'password') {
                  <i (click)="confirmedPassword.type = 'text'" class="fa-solid fa-eye text-primary cursor-pointer"></i>
                } @else {
                  <i
                    (click)="confirmedPassword.type = 'password'"
                    class="fa-solid fa-eye-slash text-primary cursor-pointer"
                  ></i>
                }
              </span>
            </div>
            @if (
              formGroup.get('confirmedPassword')?.hasError('required') &&
              formGroup.get('confirmedPassword')?.touched &&
              !formGroup.errors?.['matchValidator']
            ) {
              <small class="text-danger d-block mt-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ 'VALIDATORS.REQUIRED' | translate }}
              </small>
            }
            @if (
              formGroup.errors?.['confirmedValidator'] && !formGroup.get('confirmedPassword')?.hasError('required')
            ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ 'AUTHENTICATION.FORGOT_PASSWORD.PASSWORD_MATCH' | translate }}
              </small>
            }
          </div>

          <!-- Submit button INSIDE the form -->
          <div class="col-12">
            <br />
            <button
              type="submit"
              [disabled]="loading() || formGroup.invalid"
              class="btn mt-2 col-md-12 col-12 btn-primary"
            >
              {{ 'AUTHENTICATION.FORGOT_PASSWORD.SUBMIT_BUTTON' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
