<!-- Success message  -->
<div class="m-5 gap-2 justify-content-center row d-flex align-items-center text-center">
  <div>
    <img src="assets/images/Illustration.svg"
         alt="" />
  </div>
  <h2 class="fw-bold">{{ "SUCCESS_PAGE.SUCCESS_MESSAGE" | translate }}</h2>
  <h5 class="text-muted">{{ "SUCCESS_PAGE.THANK_YOU" | translate }}</h5>

  <div class="row justify-content-center align-items-center text-center d-flex">
    <button class="btn-primary showbtn col-md-3 col-sm-12 text-white m-3 btn shadow-sm">
      {{ "SUCCESS_PAGE.VIEW_INVESTMENTS" | translate }}
    </button>
    <strong class="fw-light">
      {{ "SUCCESS_PAGE.AUTO_REDIRECT" | translate }}
    </strong>
  </div>
</div>