<div class="container d-flex flex-column justify-content-center h-100 align-items-center">
  <h6 class="d-flex gap-2">
    {{ 'AUTHENTICATION.SIGN_UP.HAS_ACCOUNT' | translate
    }}<a class="text-primary" [routerLink]="'/' + WEB_ROUTES.AUTH.ROOT + '/' + WEB_ROUTES.AUTH.SIGN_IN">
      {{ 'AUTHENTICATION.SIGN_UP.SIGN_IN' | translate }}</a
    >
  </h6>

  <div class="d-flex cards flex-column align-items-center gap-5 w-100">
    <div class="d-flex flex-column gap-3">
      <h1 class="fw-semibold">{{ 'AUTHENTICATION.SIGN_UP.TITLE' | translate }}</h1>
      <p>{{ 'AUTHENTICATION.SIGN_UP.DESCRIPTION' | translate }}</p>
    </div>
    <div class="w-100 d-flex flex-column gap-4">
      <a
        class="shadow-card d-flex justify-content-between align-items-center w-100"
        href="javascript:void(0)"
        (click)="onRedirect(InvestorType.INDIVIDUAL)"
      >
        <div class="d-flex align-items-center gap-5">
          <i class="fs-3 fa-regular fa-user"></i>

          <div class="d-flex flex-column gap-2">
            <h5>
              {{ 'AUTHENTICATION.SIGN_UP.INDIVIDUAL.TITLE' | translate }}
            </h5>
            <p class="small">
              {{ 'AUTHENTICATION.SIGN_UP.INDIVIDUAL.DESCRIPTION' | translate }}
            </p>
          </div>
        </div>
        @if (lang === 'en') {
          <i class="fas fa-arrow-right"> </i>
        }
        @if (lang === 'ar') {
          <i class="fas fa-arrow-left"> </i>
        }
      </a>
      <a
        class="shadow-card d-flex justify-content-between align-items-center w-100"
        href="javascript:void(0)"
        (click)="onRedirect(InvestorType.COMPANY)"
      >
        <div class="d-flex align-items-center gap-5">
          <i class="fs-3 fa-regular fa-building"></i>

          <div class="d-flex flex-column gap-2">
            <h5>
              {{ 'AUTHENTICATION.SIGN_UP.COMPANY.TITLE' | translate }}
            </h5>
            <p class="small">{{ 'AUTHENTICATION.SIGN_UP.COMPANY.DESCRIPTION' | translate }}</p>
          </div>
        </div>
        @if (lang === 'en') {
          <i class="fas fa-arrow-right"> </i>
        }
        @if (lang === 'ar') {
          <i class="fas fa-arrow-left"> </i>
        }
      </a>
    </div>
  </div>
</div>
