<section class="">
  <div class="mt-5 g-4">
    <h4 class="mt-2 text-primary">
      {{ "SETTINGS.INVESTMENT.TITLE" | translate }}
    </h4>
    <div class="d-flex mt-4 col-9 row justify-content-start">
      <!-- Risk Tolerance -->
      <div class="mb-5 col-md-6 col-12 d-flex row">
        <h6 class="mb-3 d-block">
          {{ "SETTINGS.INVESTMENT.RISK_TOLERANCE" | translate }}
        </h6>
        <div class="d-flex">
          <input type="radio" name="risk" id="risk-low" class="d-none" />
          <label for="risk-low" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.LOW" | translate
          }}</label>

          <input type="radio" name="risk" id="risk-medium" class="d-none" />
          <label for="risk-medium" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.MEDIUM" | translate
          }}</label>

          <input type="radio" name="risk" id="risk-high" class="d-none" />
          <label for="risk-high" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.HIGH" | translate
          }}</label>
        </div>
      </div>

      <!-- Investment Experience -->
      <div class="mb-5 col-md-6 col-12 d-flex row">
        <h6 class="mb-3 d-block">
          {{ "SETTINGS.INVESTMENT.EXPERIENCE" | translate }}
        </h6>
        <div class="d-flex">
          <input
            type="radio"
            name="experience"
            id="experience-low"
            class="d-none"
          />
          <label for="experience-low" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.LOW" | translate
          }}</label>

          <input
            type="radio"
            name="experience"
            id="experience-medium"
            class="d-none"
          />
          <label for="experience-medium" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.MEDIUM" | translate
          }}</label>

          <input
            type="radio"
            name="experience"
            id="experience-high"
            class="d-none"
          />
          <label for="experience-high" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.HIGH" | translate
          }}</label>
        </div>
      </div>

      <!-- Investment Period -->
      <div class="mb-5 col-md-9 col-12 d-flex row">
        <h6 class="mb-3 d-block">
          {{ "SETTINGS.INVESTMENT.PERIOD_QUESTION" | translate }}
        </h6>
        <div class="d-flex">
          <input type="radio" name="period" id="period-short" class="d-none" />
          <label for="period-short" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.SHORT_PERIOD" | translate
          }}</label>

          <input type="radio" name="period" id="period-medium" class="d-none" />
          <label for="period-medium" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.MEDIUM_PERIOD" | translate
          }}</label>

          <input type="radio" name="period" id="period-long" class="d-none" />
          <label for="period-long" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.LONG_PERIOD" | translate
          }}</label>
        </div>
      </div>

      <!-- Investment Goals -->
      <div class="mb-5 col-md-12 col-12 d-flex row">
        <h6 class="mb-3 d-block">
          {{ "SETTINGS.INVESTMENT.GOALS" | translate }}
        </h6>
        <div class="d-flex">
          <input type="radio" name="goal" id="goal-protect" class="d-none" />
          <label for="goal-protect" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.GOAL_PROTECT" | translate
          }}</label>

          <input type="radio" name="goal" id="goal-income" class="d-none" />
          <label for="goal-income" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.GOAL_INCOME" | translate
          }}</label>

          <input type="radio" name="goal" id="goal-growth" class="d-none" />
          <label for="goal-growth" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.GOAL_GROWTH" | translate
          }}</label>

          <input type="radio" name="goal" id="goal-asset" class="d-none" />
          <label for="goal-asset" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.GOAL_ASSET" | translate
          }}</label>

          <input type="radio" name="goal" id="goal-retirement" class="d-none" />
          <label for="goal-retirement" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.GOAL_RETIREMENT" | translate
          }}</label>
        </div>
      </div>

      <!-- Beneficiary -->
      <div class="mb-5 col-md-6 col-12 d-flex row">
        <h6 class="mb-3 d-block">
          {{ "SETTINGS.INVESTMENT.BENEFICIARY_QUESTION" | translate }}
        </h6>
        <div class="d-flex">
          <input
            type="radio"
            name="beneficiary"
            id="beneficiary-yes"
            class="d-none"
          />
          <label for="beneficiary-yes" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.YES" | translate
          }}</label>

          <input
            type="radio"
            name="beneficiary"
            id="beneficiary-no"
            class="d-none"
          />
          <label for="beneficiary-no" class="btn btn-option-select">{{
            "SETTINGS.INVESTMENT.NO" | translate
          }}</label>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <button class="btn col-md-3 col-12 btn-primary mt-4">
        {{ "SETTINGS.INVESTMENT.UPDATE_BUTTON" | translate }}
      </button>
    </div>
  </div>
</section>
