<section class="">
  <div class="mt-5 g-4">
    <h4 class="mt-2 text-primary">المعلومات الاستثمارية</h4>
    <div class="d-flex mt-4 col-9 row justify-content-start">
      <!-- Risk Tolerance -->
      <div class="mb-5 col-md-6 col-12 d-flex row">
        <h6 class="mb-3 d-block">القدرة على تحمل المخاطر</h6>
        <div class="d-flex">
          <input type="radio" name="risk" id="risk-low" class="d-none" />
          <label for="risk-low" class="btn btn-option-select">منخفضة</label>

          <input type="radio" name="risk" id="risk-medium" class="d-none" />
          <label for="risk-medium" class="btn btn-option-select">متوسطة</label>

          <input type="radio" name="risk" id="risk-high" class="d-none" />
          <label for="risk-high" class="btn btn-option-select">مرتفعة</label>
        </div>
      </div>

      <!-- Investment Experience -->
      <div class="mb-5 col-md-6 col-12 d-flex row">
        <h6 class="mb-3 d-block">الخبرة الاستثمارية</h6>
        <div class="d-flex">
          <input
            type="radio"
            name="experience"
            id="experience-low"
            class="d-none"
          />
          <label for="experience-low" class="btn btn-option-select"
            >منخفضة</label
          >

          <input
            type="radio"
            name="experience"
            id="experience-medium"
            class="d-none"
          />
          <label for="experience-medium" class="btn btn-option-select"
            >متوسطة</label
          >

          <input
            type="radio"
            name="experience"
            id="experience-high"
            class="d-none"
          />
          <label for="experience-high" class="btn btn-option-select"
            >عالية</label
          >
        </div>
      </div>

      <!-- Investment Period -->
      <div class="mb-5 col-md-9 col-12 d-flex row">
        <h6 class="mb-3 d-block">
          ما هي فترة الاستثمار التي تتوقع استرداد اموالك خلالها؟
        </h6>
        <div class="d-flex">
          <input type="radio" name="period" id="period-short" class="d-none" />
          <label for="period-short" class="btn btn-option-select"
            >قصيرة (أقل من سنة)</label
          >

          <input type="radio" name="period" id="period-medium" class="d-none" />
          <label for="period-medium" class="btn btn-option-select"
            >متوسطة (من 1 حتى 5 سنوات)</label
          >

          <input type="radio" name="period" id="period-long" class="d-none" />
          <label for="period-long" class="btn btn-option-select"
            >طويلة (أكثر من ٥ سنوات)</label
          >
        </div>
      </div>

      <!-- Investment Goals -->
      <div class="mb-5 col-md-12 col-12 d-flex row">
        <h6 class="mb-3 d-block">ما هي أهدافك الاستثمارية؟</h6>
        <div class="d-flex">
          <input type="radio" name="goal" id="goal-protect" class="d-none" />
          <label for="goal-protect" class="btn btn-option-select"
            >حماية رأس المال</label
          >

          <input type="radio" name="goal" id="goal-income" class="d-none" />
          <label for="goal-income" class="btn btn-option-select"
            >تحقيق الدخل</label
          >

          <input type="radio" name="goal" id="goal-growth" class="d-none" />
          <label for="goal-growth" class="btn btn-option-select"
            >نمو رأس المال</label
          >

          <input type="radio" name="goal" id="goal-asset" class="d-none" />
          <label for="goal-asset" class="btn btn-option-select">شراء أصل</label>

          <input type="radio" name="goal" id="goal-retirement" class="d-none" />
          <label for="goal-retirement" class="btn btn-option-select"
            >تكوين مدخرات للتقاعد</label
          >
        </div>
      </div>

      <!-- Beneficiary -->
      <div class="mb-5 col-md-6 col-12 d-flex row">
        <h6 class="mb-3 d-block">هل أنت المستفيد الحقيقي من الحساب</h6>
        <div class="d-flex">
          <input
            type="radio"
            name="beneficiary"
            id="beneficiary-yes"
            class="d-none"
          />
          <label for="beneficiary-yes" class="btn btn-option-select">نعم</label>

          <input
            type="radio"
            name="beneficiary"
            id="beneficiary-no"
            class="d-none"
          />
          <label for="beneficiary-no" class="btn btn-option-select">لا</label>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <button class="btn col-md-3 col-12 btn-primary mt-4">
        تحديث المعلومات
      </button>
    </div>
  </div>
</section>
