<!-- Stats -->
<section>
  <div class="row g-2">
    <div class="col-md-12 col-lg-6 col-xl-3">
      <div
        class="card stats-card bg-white py-3 px-3 d-flex align-items-center flex-row gap-3 h-100"
      >
        <div class="icon success">
          <span class="icon-saudi_riyal fs-1"></span>
        </div>

        <div class="d-flex flex-column gap-1">
          <span>{{ "TRANSACTIONS.TOTAL_DEPOSIT" | translate }}</span>
          <div class="fw-semibold d-flex price-alignment gap-1 w-fit" dir="ltr">
            {{ user.financialSummary.totalDeposits }}
            <span class="icon-saudi_riyal"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3">
      <div
        class="card stats-card bg-white py-3 px-3 d-flex flex-row align-items-center gap-3 h-100"
      >
        <div class="icon danger">
          <img src="assets/icons/invoice-dollar.svg" alt="" />
        </div>

        <div class="d-flex flex-column gap-1">
          <span>{{ "TRANSACTIONS.TOTAL_INVESTMENTS" | translate }}</span>
          <div class="fw-semibold d-flex price-alignment gap-1 w-fit" dir="ltr">
            {{ user.financialSummary.totalInvestments }}
            <span class="icon-saudi_riyal"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3">
      <div
        class="card stats-card bg-white py-3 px-3 d-flex flex-row align-items-center gap-3 h-100"
      >
        <div class="icon primary">
          <img src="assets/icons/earnings.svg" alt="" />
        </div>

        <div class="d-flex flex-column gap-1">
          <span>{{ "TRANSACTIONS.TOTAL_EARNINGS" | translate }}</span>
          <div class="fw-semibold d-flex price-alignment gap-1 w-fit" dir="ltr">
            {{ user.financialSummary.totalProfits }}
            <span class="icon-saudi_riyal"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3">
      <div
        class="card stats-card bg-white py-3 px-3 d-flex flex-row align-items-center gap-3 h-100"
      >
        <div class="icon warning">
          <img src="assets/icons/money-tag.svg" alt="" />
        </div>

        <div class="d-flex flex-column gap-1">
          <span>{{ "TRANSACTIONS.TOTAL_EXPECTED_EARNINGS" | translate }}</span>
          <div class="fw-semibold d-flex price-alignment gap-1 w-fit" dir="ltr">
            {{ user.financialSummary.expectedProfits }}
            <span class="icon-saudi_riyal"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Table -->
<section class="mt-5">
  <h5 class="card-title text-primary mb-3">
    {{ "TRANSACTIONS.DISTRIBUTION_TITLE" | translate }}
  </h5>
  <div class="p-4 mt-2 bg-white rounded-4">
    <div class="table-responsive">
      <table class="fw-light justify-content-start backoffice-table table">
        <thead>
          <tr>
            <th>{{ "TRANSACTIONS.DESCRIPTION" | translate }}</th>
            <th>{{ "TRANSACTIONS.REF_ID" | translate }}</th>
            <th>{{ "TRANSACTIONS.TYPE" | translate }}</th>
            <th>{{ "TRANSACTIONS.DATE" | translate }}</th>
            <th>{{ "TRANSACTIONS.AMOUNT" | translate }}</th>
            <th>{{ "TRANSACTIONS.ACCOUNT" | translate }}</th>
            <th>{{ "TRANSACTIONS.DETAILS.DETAILS" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @if (loading()) {
          <tr>
            <td colspan="7">
              <div class="p-4">
                <h6 class="text-center">
                  {{ "TRANSACTIONS.LOADING" | translate }}
                </h6>
              </div>
            </td>
          </tr>
          }@else { @if (transactions().length) { @for (tx of transactions();
          track tx.id) {
          <tr class="">
            <td>
              <div
                class="d-flex align-items-center justify-content-start gap-2"
              >
                <div class="arrow-circle">
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-arrow-down': tx.transactionType === 'Withdrawal',
                      'fa-arrow-up': tx.transactionType !== 'Withdrawal'
                    }"
                  ></i>
                </div>
                <span class="ps-2">{{ tx.description || "-" }}</span>
              </div>
            </td>
            <td>#{{ tx.refId }}</td>
            <td>
              {{ tx.transactionType }}
            </td>
            <td>
              {{ tx.createDate | date : "medium" }}
            </td>
            <td>
              <div
                class="d-flex price-alignment gap-1 w-fit"
                [ngClass]="{
                  'text-danger': tx.amount < 0,
                  'text-success': tx.amount > 0
                }"
              >
                {{ tx.amount | number : "1.0-2" }}
                <span class="icon-saudi_riyal"></span>
              </div>
            </td>
            <td>
              <span>
                {{ tx.accountNumber || "-" }}
              </span>
            </td>
            <td>
              <a
                [routerLink]="
                  '/' +
                  WEB_ROUTES.TRANSACTIONS.ROOT +
                  '/' +
                  WEB_ROUTES.TRANSACTIONS.DETAILS +
                  '/' +
                  tx.id
                "
                class="btn btn-sm btn-outline-primary rounded-4"
              >
                {{ "TRANSACTIONS.VIEW" | translate }}
              </a>
            </td>
          </tr>
          } }@else {
          <tr>
            <td colspan="7">
              <div class="p-4">
                <h6 class="text-center">
                  {{ "TRANSACTIONS.EMPTY" | translate }}
                </h6>
              </div>
            </td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
    @if (!loading() && transactions().length) {
    <nav class="d-flex justify-content-center my-4">
      <ngb-pagination
        [(page)]="pagination.pageNumber"
        [pageSize]="pagination.pageSize"
        [collectionSize]="total()"
        [maxSize]="5"
        [ellipses]="true"
        (pageChange)="goToPage($event)"
        size="md"
      >
      </ngb-pagination>
    </nav>
    }
  </div>
</section>
