<section class="">
  <div class="d-flex mt-2 row">
    <div class="mt-5">
      <h4>{{ "SETTINGS.SECURITY.CHANGE_PASSWORD_TITLE" | translate }}</h4>
      <form
        class="d-flex justify-content-between rounded-4 p-4 row password-bg mt-3"
      >
        <input type="text" name="username" autocomplete="username" hidden />

        <div class="col-md-3 col-12">
          <h6 class="">
            {{ "SETTINGS.SECURITY.CURRENT_PASSWORD" | translate }}
          </h6>
          <input
            autocomplete="current-password"
            name="currentPassword"
            type="password"
            class="form-control mt-2"
            placeholder="***********"
          />
        </div>

        <div class="col-md-3 col-12">
          <h6 class="">{{ "SETTINGS.SECURITY.NEW_PASSWORD" | translate }}</h6>
          <input
            autocomplete="new-password"
            name="newPassword"
            type="password"
            class="form-control mt-2"
            placeholder="***********"
          />
        </div>

        <div class="col-md-3 col-12">
          <h6 class="">
            {{ "SETTINGS.SECURITY.CONFIRM_PASSWORD" | translate }}
          </h6>
          <input
            autocomplete="new-password"
            name="confirmPassword"
            type="password"
            class="form-control mt-2"
            placeholder="***********"
          />
        </div>

        <div class="col-md-3 col-12">
          <br />
          <button class="btn col-md-12 col-12 btn-primary">
            {{ "SETTINGS.SECURITY.CHANGE_PASSWORD_BUTTON" | translate }}
          </button>
        </div>
      </form>
    </div>

    <div class="mt-5">
      <h4>{{ "SETTINGS.SECURITY.CHANGE_PHONE_TITLE" | translate }}</h4>
      <form
        class="d-flex justify-content-between rounded-4 p-4 row password-bg mt-3"
      >
        <div class="col-md-7 col-12 row d-flex justify-content-between">
          <div class="col-md-6 col-12">
            <h6 class="">{{ "SETTINGS.SECURITY.NEW_PHONE" | translate }}</h6>
            <input
              type="text"
              class="form-control mt-2"
              placeholder="5xxxxxxxx"
            />
          </div>
          <div class="col-md-3 col-12">
            <br />
            <button class="btn mt-1 border-dark rounded-5 py-0">
              {{ "SETTINGS.SECURITY.SEND_CODE" | translate }}
            </button>
          </div>
          <div class="col-md-3 col-12">
            <h6 class="">
              {{ "SETTINGS.SECURITY.VERIFICATION_CODE" | translate }}
            </h6>
            <input
              type="password"
              class="form-control mt-2"
              placeholder="***********"
            />
          </div>
        </div>

        <div class="col-md-3 col-12">
          <br />
          <button class="btn col-md-12 col-12 btn-primary">
            {{ "SETTINGS.SECURITY.UPDATE_PHONE" | translate }}
          </button>
        </div>
        <p class="mt-3 fs-12">
          {{ "SETTINGS.SECURITY.PHONE_NOTE" | translate }}
        </p>
      </form>
    </div>

    <div class="mt-5">
      <h4>{{ "SETTINGS.SECURITY.CHANGE_EMAIL_TITLE" | translate }}</h4>
      <form
        class="d-flex justify-content-between rounded-4 p-4 row password-bg mt-3"
      >
        <div class="col-md-7 col-12 row d-flex justify-content-between">
          <div class="col-md-6 col-12">
            <h6 class="">{{ "SETTINGS.SECURITY.NEW_EMAIL" | translate }}</h6>
            <input
              type="email"
              class="form-control mt-2"
              placeholder="email@domain.com"
            />
          </div>
          <div class="col-md-3 col-12">
            <br />
            <button class="btn mt-1 border-dark rounded-5 py-0">
              {{ "SETTINGS.SECURITY.SEND_CODE" | translate }}
            </button>
          </div>
          <div class="col-md-3 col-12">
            <h6 class="">
              {{ "SETTINGS.SECURITY.VERIFICATION_CODE" | translate }}
            </h6>
            <input
              type="password"
              class="form-control mt-2"
              placeholder="***********"
            />
          </div>
        </div>

        <div class="col-md-3 col-12">
          <br />
          <button class="btn col-md-12 col-12 btn-primary">
            {{ "SETTINGS.SECURITY.UPDATE_EMAIL" | translate }}
          </button>
        </div>
        <p class="fs-12 mt-3">
          {{ "SETTINGS.SECURITY.EMAIL_NOTE" | translate }}
        </p>
      </form>
    </div>
  </div>
</section>
