<section class="py-4">
  <div class="d-flex flex-column gap-5">
    <!-- Password -->
    <div class="d-flex flex-column gap-3">
      <h5>{{ "SETTINGS.SECURITY.CHANGE_PASSWORD_TITLE" | translate }}</h5>
      <div class="card-bg p-3 rounded-4">
        <form
          [formGroup]="passwordForm"
          (submit)="savePassword()"
          class="row g-4"
        >
          <div class="col-lg-6 col-xl-3 col-12">
            <label for="currentPassword" class="form-label">
              {{ "SETTINGS.SECURITY.CURRENT_PASSWORD" | translate }}
            </label>

            <div class="input-group">
              <input
                id="currentPassword"
                type="password"
                formControlName="currentPassword"
                class="form-control"
                placeholder="***********"
                #currentPassword
              />

              <span class="input-group-text">
                @if (currentPassword.type === 'password') {
                <i
                  (click)="currentPassword.type = 'text'"
                  class="fa-solid fa-eye text-primary cursor-pointer"
                ></i>
                } @else {
                <i
                  (click)="currentPassword.type = 'password'"
                  class="fa-solid fa-eye-slash text-primary cursor-pointer"
                ></i>
                }
              </span>
            </div>

            <!-- Fixed height wrapper for consistent spacing -->
            <div>
              @if ( passwordForm.get('currentPassword')?.touched &&
              passwordForm.get('currentPassword')?.hasError('required') ) {
              <small class="text-danger d-block">
                <i class="fa-solid fa-circle-exclamation"></i>

                {{ "VALIDATORS.REQUIRED" | translate }}
              </small>
              }
            </div>
          </div>

          <div class="col-lg-6 col-xl-3 col-12">
            <label for="newPassword" class="form-label">
              {{ "SETTINGS.SECURITY.NEW_PASSWORD" | translate }}
            </label>

            <div class="input-group">
              <input
                id="newPassword"
                type="password"
                formControlName="newPassword"
                class="form-control"
                placeholder="***********"
                #newPassword
              />
              <span class="input-group-text">
                @if (newPassword.type === 'password') {
                <i
                  (click)="newPassword.type = 'text'"
                  class="fa-solid fa-eye text-primary cursor-pointer"
                ></i>
                } @else {
                <i
                  (click)="newPassword.type = 'password'"
                  class="fa-solid fa-eye-slash text-primary cursor-pointer"
                ></i>
                }
              </span>
            </div>

            <div class="position-relative" style="min-height: 48px">
              @if ( passwordForm.get('newPassword')?.touched &&
              passwordForm.get('newPassword')?.hasError('required') ) {
              <small class="text-danger d-block mt-1">
                <i class="fa-solid fa-circle-exclamation"></i>

                {{ "VALIDATORS.REQUIRED" | translate }}
              </small>
              } @else if ( passwordForm.get('newPassword')?.touched &&
              passwordForm.get('newPassword')?.hasError('pattern') ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ "VALIDATORS.INVALID_PASSWORD" | translate }}
              </small>
              }
            </div>
          </div>

          <div class="col-lg-12 col-xl-3 col-12">
            <label for="confirmedPassword" class="form-label">
              {{ "SETTINGS.SECURITY.CONFIRM_PASSWORD" | translate }}
            </label>
            <div class="input-group">
              <input
                id="confirmedPassword"
                type="password"
                formControlName="confirmedPassword"
                class="form-control"
                placeholder="***********"
                #confirmedPassword
              />
              <span class="input-group-text">
                @if (confirmedPassword.type === 'password') {
                <i
                  (click)="confirmedPassword.type = 'text'"
                  class="fa-solid fa-eye text-primary cursor-pointer"
                ></i>
                }@else {
                <i
                  (click)="confirmedPassword.type = 'password'"
                  class="fa-solid fa-eye-slash text-primary cursor-pointer"
                ></i>
                }
              </span>
            </div>
            @if ( passwordForm.get('confirmedPassword')?.hasError('required') &&
            passwordForm.get('confirmedPassword')?.touched &&
            !passwordForm.errors?.['confirmedValidator'] ) {
            <small class="text-danger d-block mt-1">
              <i class="fa-solid fa-circle-exclamation"></i>

              {{ "VALIDATORS.REQUIRED" | translate }}
            </small>
            } @if ( passwordForm.errors?.['confirmedValidator'] &&
            !passwordForm.get('confirmedPassword')?.hasError('required') ) {
            <small class="text-danger mt-1 d-flex align-items-center gap-1">
              <i class="fa-solid fa-circle-exclamation"></i>
              {{ "VALIDATORS.PASSWORD_MATCH" | translate }}
            </small>
            }
          </div>
          <div class="col-lg-12 col-xl-3 col-12">
            <br />
            <button
              type="submit"
              [disabled]="loading() || passwordForm.invalid"
              class="btn mt-2 col-md-12 col-12 btn-primary"
            >
              {{ "SETTINGS.SECURITY.CHANGE_PASSWORD_BUTTON" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Phone -->
    <div class="d-flex flex-column gap-3">
      <h5>{{ "SETTINGS.SECURITY.CHANGE_PHONE_TITLE" | translate }}</h5>
      <div class="card-bg p-3 rounded-4">
        <form
          [formGroup]="phoneForm"
          (submit)="savePhoneNumber()"
          class="row g-4"
        >
          <div class="col-xl-4 col-12">
            <label for="newPhoneNumber" class="form-label">{{
              "SETTINGS.SECURITY.NEW_PHONE" | translate
            }}</label>

            <div class="input-group">
              @if (translationService.language === 'en') {
              <span class="input-group-text" dir="ltr">+966</span>
              }

              <input
                type="tel"
                class="form-control"
                formControlName="newPhoneNumber"
                placeholder="5xxxxxxxx"
              />

              @if (translationService.language === 'ar') {
              <span class="input-group-text" dir="ltr">+966</span>
              }
            </div>

            <div class="error-wrapper mt-1">
              @if (phoneForm.get('newPhoneNumber')?.errors?.['required'] &&
              phoneForm.get('newPhoneNumber')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ "VALIDATORS.REQUIRED" | translate }}
              </small>
              } @if (phoneForm.get('newPhoneNumber')?.errors?.['minlength'] ||
              phoneForm.get('newPhoneNumber')?.errors?.['maxlength']
              ||phoneForm.get('newPhoneNumber')?.errors?.['pattern'] ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ "VALIDATORS.INVALID_PHONE_NUMBER" | translate }}
              </small>
              }
            </div>
          </div>

          <div class="col-xl-3 col-12">
            <br />
            <button
              type="submit"
              [disabled]="loading() || phoneForm.invalid"
              class="btn col-md-12 col-12 mt-2 btn-primary"
            >
              {{ "SETTINGS.SECURITY.UPDATE_PHONE" | translate }}
            </button>
          </div>
          <p class="mt-3 fs-12">
            {{ "SETTINGS.SECURITY.PHONE_NOTE" | translate }}
          </p>
        </form>
      </div>
    </div>
    <!-- Email -->
    <div class="d-flex flex-column gap-3">
      <h5>{{ "SETTINGS.SECURITY.CHANGE_EMAIL_TITLE" | translate }}</h5>
      <div class="card-bg p-3 rounded-4">
        <form [formGroup]="emailForm" (submit)="saveEmail()" class="row g-4">
          <div class="col-xl-4 col-12">
            <label for="email" class="form-label">{{
              "SETTINGS.SECURITY.NEW_EMAIL" | translate
            }}</label>
            <input
              type="email"
              formControlName="email"
              id="email"
              dir="ltr"
              class="form-control"
            />
            <div class="error-wrapper mt-1">
              @if (emailForm.get('email')?.errors?.['required'] &&
              emailForm.get('email')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ "VALIDATORS.REQUIRED" | translate }}
              </small>
              } @if (emailForm.get('email')?.errors?.['email'] ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ "VALIDATORS.EMAIL" | translate }}
              </small>
              }
            </div>
          </div>

          <div class="col-xl-3 col-12">
            <br />

            <button
              class="btn col-md-12 mt-2 col-12 btn-primary"
              [disabled]="loading() || emailForm.invalid"
            >
              {{ "SETTINGS.SECURITY.UPDATE_EMAIL" | translate }}
            </button>
          </div>
          <p class="fs-12 mt-3">
            {{ "SETTINGS.SECURITY.EMAIL_NOTE" | translate }}
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
