<div class="d-flex row text-center justify-content-center">
  <h6 class="otp-instruction">أدخل الرمز المرسل على جوالك</h6>

  <div class="d-flex flex-column gap-2 flex-column align-items-center justify-content-center text-center">
    <div class="otp-inputs d-flex m-3 justify-content-center">
      <input type="text"
             inputmode="numeric"
             maxlength="1"
             placeholder="0" />
      <input type="text"
             inputmode="numeric"
             maxlength="1"
             placeholder="0" />
      <input type="text"
             inputmode="numeric"
             maxlength="1"
             placeholder="0" />
      <input type="text"
             inputmode="numeric"
             maxlength="1"
             placeholder="0" />
    </div>
  </div>
  <div class="text-center col-12  justify-content-center">
    <h6 class="text-light">إعادة الإرسال بعد 02:14 دقيقة</h6>
  </div>
</div>