a,
button {
  text-decoration: none;
  border: none;
  background-color: transparent;

  &:hover {
    opacity: 0.9;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 46px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &.btn-icon {
    padding: 10px;
    font-size: 18px;
  }

  &.btn-rounded {
    border-radius: 45px;
  }

  &.btn-sm {
    height: 36px;
  }

  &.btn-primary {
    border: none;
    background-color: var(--primary-color);
    color: white;
  }

  &.btn-secondary {
    border: none;
    background-color: var(--secondary-color);
    color: white;
  }

  &.btn-transparent {
    background-color: transparent;
    border: none;
    color: white;
  }

  &.btn-white {
    background-color: white;
    color: var(--primary-color);
  }

  &.btn-outline-white {
    border-color: white;
    color: white;
  }

  &.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
}

.datepicker-btn {
  background-color: #f8f9fa;
  color: black;
  height: 46px;
  padding: 12px;
}
