.backoffice-table {
  thead tr {
    border-bottom: 1px solid #f2f4f7;

    th {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      white-space: nowrap;
      padding: 0.5rem;
    }
  }

  tbody tr {
    &:not(:last-child) {
      border-bottom: 1px solid #f2f4f7;
    }

    &:last-child {
      border-color: transparent;
    }

    td {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      white-space: nowrap;
      padding: 1rem 0.5rem;
      vertical-align: middle !important;
    }
  }
}

ngb-pagination {
  .page-item {
    .page-link {
      color: var(--primary-color) !important;
    }

    &.active .page-link {
      background-color: var(--primary-color) !important;
      border-color: var(--primary-color) !important;
      color: white !important;
    }
  }
}
