<form class="row d-flex">
       <!-- -->
       <div class="col-12 form-group col-md-6">
              <label class="form-label">Investment experience</label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of investmentExperienceList; track $index) {
                     <div class="col">
                            <input type="radio"
                                   id="exp_low"
                                   name="experience"
                                   class="d-none" />
                            <label for="exp_low"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>

       <!-- -->
       <div class="col-12 form-group col-md-6">
              <label class="form-label"> Risk Tolerance </label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of riskToleranceList; track $index) {
                     <div class="col">
                            <input type="radio"
                                   id="exp_low"
                                   name="experience"
                                   class="d-none" />
                            <label for="exp_low"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>

       <!--   -->
       <div class="col-12 form-group mt-2 col-md-10">
              <label class="form-label">
                     What is the investment period during which you expect to recover your money?

              </label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of investmentPeriodList; track $index) {
                     <div class="col">
                            <input type="radio"
                                   id="exp_low"
                                   name="experience"
                                   class="d-none" />
                            <label for="exp_low"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>

       <!-- -->
       <div class="col-12 form-group mt-2">
              <label class="form-label">What are your investment objectives?</label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of investmentObjectivesList; track $index) {
                     <div class="col">
                            <input type="radio"
                                   id="exp_low"
                                   name="experience"
                                   class="d-none" />
                            <label for="exp_low"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>
       <!-- -->
       <div class="col-12 form-group mt-4 col-md-6">
              <label class="form-label">Are you the real beneficiary of the account?</label>
              <div class="d-flex flex-column flex-md-row">
                     <input type="radio"
                            id="beneficiary_yes"
                            name="beneficiary"
                            class="d-none" />
                     <label for="beneficiary_yes"
                            class="btn btn-option-select">Yes</label>

                     <input type="radio"
                            id="beneficiary_no"
                            name="beneficiary"
                            class="d-none" />
                     <label for="beneficiary_no"
                            class="btn btn-option-select">No</label>
              </div>
       </div>

       <!--    -->
       <div class="form-group mt-4 col-12 form-group col-md-6">
              <label class="form-label">Beneficiary ID number</label>
              <input type="text"
                     class="form-control"
                     placeholder="0123456789" />
       </div>
</form>