<form class="row d-flex">
  <!-- -->
  <div class="col-12 form-group col-md-6">
    <label class="form-label">الخبرة الاستثمارية</label>
    <div class="d-flex flex-column flex-md-row">
      <input type="radio"
             id="exp_low"
             name="experience"
             class="d-none" />
      <label for="exp_low"
             class="btn btn-option-select">منخفضة</label>

      <input type="radio"
             id="exp_med"
             name="experience"
             class="d-none" />
      <label for="exp_med"
             class="btn btn-option-select">متوسطة</label>

      <input type="radio"
             id="exp_high"
             name="experience"
             class="d-none" />
      <label for="exp_high"
             class="btn btn-option-select">عالية</label>
    </div>
  </div>

  <!-- -->
  <div class="col-12 form-group col-md-6">
    <label class="form-label">القدرة على تحمل المخاطر</label>
    <div class="d-flex flex-column flex-md-row">
      <input type="radio"
             id="risk_low"
             name="risk"
             class="d-none" />
      <label for="risk_low"
             class="btn btn-option-select">منخفضة</label>

      <input type="radio"
             id="risk_med"
             name="risk"
             class="d-none" />
      <label for="risk_med"
             class="btn btn-option-select">متوسطة</label>

      <input type="radio"
             id="risk_high"
             name="risk"
             class="d-none" />
      <label for="risk_high"
             class="btn btn-option-select">مرتفعة</label>
    </div>
  </div>

  <!--   -->
  <div class="col-12 form-group mt-2 col-md-10">
    <label class="form-label">
      ما هي فترة الاستثمار التي تتوقع استرداد اموالك خلالها؟
    </label>
    <div class="d-flex flex-column flex-md-row">
      <input type="radio"
             id="short_term"
             name="investment_period"
             class="d-none" />
      <label for="short_term"
             class="btn btn-option-select">قصيرة (أقل من سنة)</label>

      <input type="radio"
             id="mid_term"
             name="investment_period"
             class="d-none" />
      <label for="mid_term"
             class="btn btn-option-select">متوسطة (من 1 حتى 5 سنوات)</label>

      <input type="radio"
             id="long_term"
             name="investment_period"
             class="d-none" />
      <label for="long_term"
             class="btn btn-option-select">طويلة (أكثر من 5 سنوات)</label>
    </div>
  </div>

  <!-- -->
  <div class="col-12 form-group mt-2">
    <label class="form-label">ما هي أهدافك الاستثمارية؟</label>
    <div class="d-flex flex-column flex-md-row">
      <input type="radio"
             id="goal_protect"
             name="investment_goal"
             class="d-none" />
      <label for="goal_protect"
             class="btn btn-option-select">حماية رأس المال</label>

      <input type="radio"
             id="goal_income"
             name="investment_goal"
             class="d-none" />
      <label for="goal_income"
             class="btn btn-option-select">تحقيق الدخل</label>

      <input type="radio"
             id="goal_growth"
             name="investment_goal"
             class="d-none" />
      <label for="goal_growth"
             class="btn btn-option-select">نمو رأس المال</label>

      <input type="radio"
             id="goal_asset"
             name="investment_goal"
             class="d-none" />
      <label for="goal_asset"
             class="btn btn-option-select">شراء أصل</label>

      <input type="radio"
             id="goal_retire"
             name="investment_goal"
             class="d-none" />
      <label for="goal_retire"
             class="btn btn-option-select">تكوين مدخرات للتقاعد</label>
    </div>
  </div>
  <!-- -->
  <div class="col-12 form-group mt-4 col-md-6">
    <label class="form-label">هل أنت المستفيد الحقيقي من الحساب</label>
    <div class="d-flex flex-column flex-md-row">
      <input type="radio"
             id="beneficiary_yes"
             name="beneficiary"
             class="d-none" />
      <label for="beneficiary_yes"
             class="btn btn-option-select">نعم</label>

      <input type="radio"
             id="beneficiary_no"
             name="beneficiary"
             class="d-none" />
      <label for="beneficiary_no"
             class="btn btn-option-select">لا</label>
    </div>
  </div>

  <!--    -->
  <div class="form-group mt-4 col-12 form-group col-md-6">
    <label class="form-label">رقم هوية المستفيد الحقيقي</label>
    <input type="text"
           placeholder="0123456789" />
  </div>
</form>