<section class="cta-banner">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-md-6 d-flex gap-4 flex-column">
        <h1>{{ 'HOMEPAGE.CTA_BANNER.TITLE' | translate }}</h1>
        <p>{{ 'HOMEPAGE.CTA_BANNER.SUBTITLE' | translate }}</p>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end gap-4 align-items-center">
        <a href="">
          <button class="btn btn-rounded btn-outline-white">
            {{ 'HOMEPAGE.CTA_BANNER.CONTACT_US' | translate }}
          </button>
        </a>
        <a href="">
          <button class="btn btn-rounded btn-white">
            {{ 'HOMEPAGE.CTA_BANNER.APPLY_NOW' | translate }}
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
