.cta-banner {
  padding: 48px 0;
  background-color: var(--primary-color);

  h1 {
    font-weight: 700;
    font-size: 40px;
    // line-height: 32px;

    color: #ffffff;
  }

  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }
}
