<footer class="site-footer bg-dark" id="footer">
  <div class="footer-top py-2 px-5">
    <div class="px-5">
      <div class="row">
        <!--  -->
        <div class="col-xl-6 col-lg-6 col-sm-12 col-md-6">
          <div class="widget widget_about">
            <div class="footer-logo logo-white">
              <a routerLink="/index">
                <img
                  class="w-200px"
                  src="assets/images/takween1.svg"
                  alt="Takween Logo"
                />
              </a>
            </div>
            <p>{{ "FOOTER.DISCLAIMER" | translate }}</p>
            <h3 class="text-white">{{ "FOOTER.FOLLOW_US" | translate }}</h3>
            <div class="d-flex gap-3">
              <a href="#" class="text-white"><i class="fab fa-x fa-lg"></i></a>
              <a href="#" class="text-white"
                ><i class="fab fa-youtube fa-lg"></i
              ></a>
              <a href="#" class="text-white"
                ><i class="fab fa-linkedin fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-xl-2 col-lg-2 col-sm-12 m-3 col-md-2">
          <h3>{{ "FOOTER.ABOUT_US" | translate }}</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.BLOG" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.COMPLIANCE" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.TERMS" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.PRIVACY" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.FAQ" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.DISCLOSURES" | translate
              }}</a>
            </li>
          </ul>
        </div>
        <!--  -->
        <div class="col-xl-2 col-lg-2 m-3 col-sm-12 gap-1 px-1 col-md-2">
          <h3>{{ "FOOTER.SERVICES" | translate }}</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.INVESTOR" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.FUND_APPLICANT" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.APPLY_FUNDING" | translate
              }}</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">{{
                "FOOTER.REGISTER_INVESTOR" | translate
              }}</a>
            </li>
          </ul>
          <br />
          <!--  -->
          <h3>{{ "FOOTER.CONTACT_US" | translate }}</h3>
          <p class="mb-1">
            <i class="fas fa-phone-alt text-primary me-2"></i>
            {{ "FOOTER.PHONE" | translate }}
          </p>
          <p>
            <i class="fas fa-envelope text-primary me-2"></i>
            {{ "FOOTER.EMAIL" | translate }}
          </p>
        </div>
        <!--  -->
        <div class="text-center col-sm-12 col-md-12">
          <h5 class="text-white">{{ "FOOTER.COPYRIGHT" | translate }}</h5>
        </div>
      </div>
    </div>
  </div>
</footer>
