<footer>
  <div class="container d-flex flex-column gap-4">
    <div class="row gap-lg-4 gap-0">
      <!-- LOGO -->
      <div class="d-flex flex-column col-12 col-lg-7 logo">
        <a href="">
          <img src="assets/images/takween1.svg"
               alt="">
        </a>
        <p>شركة تكوين المالية هي شركة سعودية مصرحة من هيئة السوق المالية بتاريخ شركة تكوين المالية هي شركة سعودية مصرحة
          من
          هيئة السوق المالية بتاريخ شركة تكوين المالية هي شركة سعودية مصرحة من هيئة السوق المالية بتاريخ شركة تكوين
          المالية هي شركة سعودية مصرحة من هيئة السوق المالية بتاريخ </p>
        <div>
          <h5>يمكنك متابعتنا في منصات التواصل</h5>
          <ul>
            <li>
              <a href="">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Nav 1 -->
      <nav class="col">
        <ul>
          <li class="list-title">
            من نحن
          </li>
          <li>
            <a href="">المدونة</a>
          </li>
          <li>
            <a href="">الالتزام بالشرعية</a>
          </li>
          <li>
            <a href="">الشروط والأحكام</a>
          </li>
          <li>
            <a href="">سياسة الخصوصية</a>
          </li>
          <li>
            <a href="">الأسئلة الشائعة</a>
          </li>
          <li>
            <a href="">الافصاحات</a>

          </li>
        </ul>

        <ul>
          <li class="list-title">
            اللغات
          </li>
          <li>
            <a (click)="onLangChange('en')"
               class="cursor-pointer">English</a>
          </li>
          <li>
            <a (click)="onLangChange('ar')"
               class="cursor-pointer">Arabic</a>
          </li>
        </ul>
      </nav>
      <!-- Nav 2 -->
      <nav class="col">
        <ul>
          <li class="list-title">
            خدماتنا
          </li>
          <li>
            <a href="">مستثمر</a>
          </li>
          <li>
            <a href="">طالب تمويل</a>
          </li>
          <li>
            <a href="">قدم طلبك التمويلي</a>
          </li>
          <li>
            <a href="">سجل كمستثمر</a>
          </li>
        </ul>

        <ul>
          <li class="list-title">
            تواصل معنا
          </li>
          <li>
            <a href="">+966 150505050</a>
          </li>
          <li>
            <a href="">info{{'@'}}takween.sa</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Copyright -->
    <p class="copyright">جميع الحقوق محفوظة لشركة تكوين المالية 2025</p>
  </div>
</footer>