<footer>
  <div class="container d-flex flex-column gap-4">
    <div class="row gap-lg-4 gap-0">
      <!-- LOGO -->
      <div class="d-flex flex-column col-12 col-lg-7 logo">
        <a href="">
          <img src="assets/images/takween1.svg"
               alt="" />
        </a>
        <p>{{ "LAYOUT.FOOTER.DESCRIPTION" | translate }}</p>
        <div>
          <h5>{{ "LAYOUT.FOOTER.SOCIAL_TITLE" | translate }}</h5>
          <ul>
            <li>
              <a href="">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Nav 1 -->
      <nav class="col">
        <ul>
          <li class="list-title">
            {{ "LAYOUT.FOOTER.ABOUT_TITLE" | translate }}
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.BLOG" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.COMPLIANCE" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.TERMS" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.PRIVACY" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.FAQ" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.DISCLOSURES" | translate }}</a>
          </li>
        </ul>

        <ul>
          <li class="list-title">
            {{ "LAYOUT.FOOTER.LANGUAGES" | translate }}
          </li>
          <li>
            <a (click)="onLangChange('en')"
               class="cursor-pointer">{{
              "LAYOUT.FOOTER.ENGLISH" | translate
              }}</a>
          </li>
          <li>
            <a (click)="onLangChange('ar')"
               class="cursor-pointer">{{
              "LAYOUT.FOOTER.ARABIC" | translate
              }}</a>
          </li>
        </ul>
      </nav>
      <!-- Nav 2 -->
      <nav class="col">
        <ul>
          <li class="list-title">{{ "LAYOUT.FOOTER.SERVICES" | translate }}</li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.INVESTOR" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.FUND_APPLICANT" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.APPLY_FUNDING" | translate }}</a>
          </li>
          <li>
            <a href="">{{ "LAYOUT.FOOTER.REGISTER_INVESTOR" | translate }}</a>
          </li>
        </ul>

        <ul>
          <li class="list-title">
            {{ "LAYOUT.FOOTER.CONTACT_US" | translate }}
          </li>
          <li>
            <a href=""
               dir="ltr">{{ "LAYOUT.FOOTER.PHONE" | translate }}</a>
          </li>
          <li>
            <a href=""
               dir="ltr">{{ "LAYOUT.FOOTER.EMAIL" | translate }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Copyright -->
    <p class="copyright">{{ "LAYOUT.FOOTER.COPYRIGHT" | translate }}</p>
  </div>
</footer>