<!-- Hero -->
<section
  class="d-flex flex-column justify-content-center gap-2 text-center hero"
>
  <h1>
    {{ "SERVICES.HERO.HEADING" | translate }}<br />
    {{ "SERVICES.HERO.SUBHEADING" | translate }}
  </h1>
  <p>{{ "SERVICES.HERO.DESCRIPTION" | translate }}</p>
</section>

<!-- Intro -->
<app-intro></app-intro>

<!-- Listing -->
<section class="container pb-6">
  <h2 class="fw-bold text-center mb-5">
    {{ "SERVICES.LISTING.TITLE" | translate }}
  </h2>
  <div class="row g-4">
    @for (item of [1,2,3,4,5,6]; track $index) {
    <div class="col-12 col-md-6 col-lg-4">
      <div class="d-flex flex-column gap-3">
        <img class="rounded" src="assets/images/service.png" alt="" />
        <h4>{{ "SERVICES.LISTING.CARD.TITLE" | translate }}</h4>
        <p>{{ "SERVICES.LISTING.CARD.DESCRIPTION" | translate }}</p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-sm btn-primary">
            {{ "SERVICES.LISTING.CARD.BUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</section>

<!-- Contact -->
<app-contact></app-contact>
