<form class="row gy-4"
      [formGroup]="formGroup">
       <!-- Social Status -->
       <div class="col-12 form-group">
              <label class="form-label">Marital status
              </label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of martialStatusList; track $index) {
                     <div class="col">
                            <input type="radio"
                                   [id]="'maritalStatus-' + item.value"
                                   formControlName="maritalStatus"
                                   class="d-none" />
                            <label [for]="'maritalStatus-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>

       <!-- Family Members -->
       <div class="col-12 form-group">
              <label class="form-label">Number of family members</label>
              <input type="number"
                     formControlName="familyMembersCount"
                     class="form-control"
                     placeholder="0" />
       </div>

       <!-- Education Level -->
       <div class="col-12 form-group">
              <label class="form-label">Specify educational level</label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of educationLevelList; track $index) {
                     <div class="col d-flex p-0">
                            <input type="radio"
                                   [id]="'educationLevel-' + item.value"
                                   formControlName="educationLevel"
                                   class="d-none" />
                            <label [for]="'educationLevel-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>

       <!-- Job Status -->
       <div class="col-12">
              <label class="form-label">Employment status</label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of employmentStatusList; track $index) {
                     <div class="col d-flex p-0">
                            <input type="radio"
                                   [id]="'employmentStatus-' + item.value"
                                   formControlName="employmentStatus"
                                   class="d-none" />
                            <label [for]="'employmentStatus-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>

       </div>

       <!-- Job Info -->
       <div class="col-12 form-group">
              <div class="bg-body-tertiary p-2 py-3 rounded row mx-auto g-2">
                     <div class=" col-sm-6 ">
                            <label class="small">Job title</label>
                            <input type="text"
                                   formControlName="jobTitle"
                                   class="form-control" />
                     </div>
                     <div class="col-sm-6">
                            <label class="small">Years of service</label>
                            <input type="text"
                                   formControlName="yearsOfExperience"
                                   class="form-control" />
                     </div>
              </div>
       </div>

       <!-- Annual Income -->
       <div class="col-12 mt-2 form-group">
              <label class="form-label">Annual income? (in riyals)</label>
              <div class="d-flex flex-column">
                     @for (item of annualIncomeList; track $index) {
                     <div class="col p-0">
                            <input type="radio"
                                   [id]="'annualIncome-' + item.value"
                                   formControlName="annualIncome"
                                   class="d-none" />
                            <label [for]="'annualIncome-' + item.value"
                                   class="btn btn-option-select">{{item.label}} </label>
                     </div>
                     }
              </div>
       </div>

       <!-- Net Worth -->
       <div class="col-12 mt-2 form-group">
              <label class="form-label">
                     Estimated net worth (excluding house) - (in Saudi Riyals)
              </label>
              <div class="d-flex flex-column">
                     @for (item of netWorthList; track $index) {
                     <div class="col-12 p-0">
                            <input type="radio"
                                   [id]="'netWealth-' + item.value"
                                   formControlName="netWealth"
                                   class="d-none" />
                            <label [for]="'netWealth-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>
</form>