<form class="row gy-4 d-flex">
       <!-- Social Status -->
       <div class="col-12 form-group">
              <label class="form-label">Marital status
              </label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of martialStatusList; track $index) {
                     <div class="col">
                            <input type="radio"
                                   [id]="'martialStatusList-' + item.value"
                                   name="martialStatusList"
                                   class="d-none" />
                            <label [for]="'martialStatusList-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>

       <!-- Family Members -->
       <div class="col-12 form-group">
              <label class="form-label">Number of family members</label>
              <input type="number"
                     class="form-control"
                     placeholder="0" />
       </div>

       <!-- Education Level -->
       <div class="col-12 form-group">
              <label class="form-label">Specify educational level</label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of educationLevelList; track $index) {
                     <div class="col d-flex p-0">
                            <input type="radio"
                                   [id]="'educationLevelList-' + item.value"
                                   name="educationLevelList"
                                   class="d-none" />
                            <label [for]="'educationLevelList-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>

       <!-- Job Status -->
       <div class="col-12">
              <label class="form-label">Employment status</label>
              <div class="d-flex flex-column flex-md-row">
                     @for (item of employmentStatusList; track $index) {
                     <div class="col d-flex p-0">
                            <input type="radio"
                                   [id]="'employmentStatusList-' + item.value"
                                   name="employmentStatusList"
                                   class="d-none" />
                            <label [for]="'employmentStatusList-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>

       </div>

       <!-- Job Info -->
       <div class="col-12 form-group">
              <div class="bg-body-tertiary p-2 py-3 rounded row mx-auto g-2">
                     <div class=" col-sm-6 ">
                            <label class="small">Job title</label>
                            <input type="text"
                                   class="form-control" />
                     </div>
                     <div class="col-sm-6">
                            <label class="small">Years of service</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="3" />
                     </div>
              </div>
       </div>

       <!-- Annual Income -->
       <div class="col-12 mt-2 form-group">
              <label class="form-label">Annual income? (in riyals)</label>
              <div class="d-flex flex-column">
                     @for (item of annualIncomeList; track $index) {
                     <div class="col p-0">
                            <input type="radio"
                                   [id]="'annualIncomeList-' + item.value"
                                   name="annualIncomeList"
                                   class="d-none" />
                            <label [for]="'annualIncomeList-' + item.value"
                                   class="btn btn-option-select">{{item.label}} </label>
                     </div>
                     }
              </div>
       </div>

       <!-- Net Worth -->
       <div class="col-12 mt-2 form-group">
              <label class="form-label">
                     Estimated net worth (excluding house) - (in Saudi Riyals)
              </label>
              <div class="d-flex flex-column">
                     @for (item of netWorthList; track $index) {
                     <div class="col-12 p-0">
                            <input type="radio"
                                   [id]="'netWorthList-' + item.value"
                                   name="netWorthList"
                                   class="d-none" />
                            <label [for]="'netWorthList-' + item.value"
                                   class="btn btn-option-select">{{item.label}}</label>
                     </div>
                     }
              </div>
       </div>
</form>