<main class="d-flex flex-column gap-4">
  <section class="d-flex justify-content-between align-items-center">
    <h3 class="card-title text-primary">{{ investment.name }}</h3>
    <span class="badge bg-success">{{ investment.status }}</span>
  </section>

  <section class="bg-white rounded-4 p-4 py-2">
    <ul ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav-tabs">
      <!-- Investment information -->
      <li [ngbNavItem]="1">
        <button ngbNavLink>
          {{ 'INVESTMENTS.DETAILS.INVESTMENT_INFORMATION.TITLE' | translate }}
        </button>
        <ng-template ngbNavContent>
          <div class="row g-4 py-3">
            <div class="col-6 d-flex flex-column gap-2">
              <h6>
                {{ 'INVESTMENTS.DETAILS.INVESTMENT_INFORMATION.PRODUCT_NAME' | translate }}
              </h6>
              <span>{{ investment.name }}</span>
            </div>
            <div class="col-6 d-flex flex-column gap-2">
              <h6>
                {{ 'INVESTMENTS.DETAILS.INVESTMENT_INFORMATION.TYPE' | translate }}
              </h6>
              <span>{{ investment.type }}</span>
            </div>
            <div class="col-6 d-flex flex-column gap-2">
              <h6>
                {{ 'INVESTMENTS.DETAILS.INVESTMENT_INFORMATION.INVESTED_AMOUNT' | translate }}
              </h6>
              <div class="d-flex gap-1 price-alignment w-fit">
                {{ investment.amount | number: '1.0-2' }}<span class="icon-saudi_riyal"></span>
              </div>
            </div>
            <div class="col-6 d-flex flex-column gap-2">
              <h6>
                {{ 'INVESTMENTS.DETAILS.INVESTMENT_INFORMATION.STOCK_COUNT' | translate }}
              </h6>
              <div class="d-flex gap-2 w-fit"
                   dir="ltr">
                {{ investment.stockCount }}
              </div>
            </div>
            <div class="col-6 d-flex flex-column gap-2">
              <h6>
                {{ 'INVESTMENTS.DETAILS.INVESTMENT_INFORMATION.STOCK_VALUE' | translate }}
              </h6>
              <div class="d-flex price-alignment gap-1 w-fit">
                {{ investment.stockValue | number: '1.0-2' }}<span class="icon-saudi_riyal"></span>
              </div>
            </div>
            <div class="col-6 d-flex flex-column gap-2">
              <h6>
                {{ 'INVESTMENTS.DETAILS.INVESTMENT_INFORMATION.INVESTMENT_DATE' | translate }}
              </h6>
              <span class="w-fit"
                    dir="ltr">{{ investment.writingDate | date: 'dd/MM/yyyy hh:mm a' }}</span>
            </div>
            <div class="col-12 mt-5 justify-content-end row d-flex">
              <button (click)="goBack()"
                      class="col-12 rounded-4 col-lg-2 btn btn-primary">
                <span class="fw-light">{{ 'TRANSACTIONS.DETAILS.BACK' | translate }}</span>
              </button>
            </div>
          </div>
        </ng-template>
      </li>
      <!-- Distributions -->
      <li [ngbNavItem]="2">
        <button ngbNavLink>
          {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TITLE' | translate }}
        </button>
        <ng-template ngbNavContent>
          <div class="table-responsive mt-3">
            <table class="fw-light justify-content-start backoffice-table table">
              <thead>
                <tr>
                  <th>
                    {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TABLE.INDEX' | translate }}
                  </th>
                  <th>
                    {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TABLE.STATUS' | translate }}
                  </th>
                  <th>
                    {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TABLE.AMOUNT' | translate }}
                  </th>
                  <th>
                    {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TABLE.AGENCY_FEE' | translate }}
                  </th>
                  <th>
                    {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TABLE.VAT' | translate }}
                  </th>
                  <th>
                    {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TABLE.NET_PROFIT' | translate }}
                  </th>
                  <th>
                    {{ 'INVESTMENTS.DETAILS.DISTRIBUTIONS.TABLE.DISTRIBUTION_DATE' | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                @for (item of earnings(); let i = $index; track i) {
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>
                    <span class="badge bg-success">{{ item.status }}</span>
                  </td>
                  <td class="justify-content-center">
                    <div class="price-alignment justify-content-center">
                      {{ item.totalPrincipal | number: '1.0-2' }}
                      <span class="icon-saudi_riyal"></span>
                    </div>
                  </td>
                  <td class="justify-content-center">
                    <div class="price-alignment justify-content-center">
                      {{ item.totalAgencyFee | number: '1.0-2' }}
                      <span class="icon-saudi_riyal"></span>
                    </div>
                  </td>
                  <td>
                    {{ item.totalVat | number: '1.0-2' }}
                  </td>
                  <td>
                    {{ item.net | number: '1.0-2' }}
                  </td>
                  <td>
                    {{ item.maturityDate | date: 'dd/MM/yyyy' }}
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          @if (!loading() && earnings().length) {
          <nav class="d-flex justify-content-center my-4">
            <ngb-pagination [(page)]="pagination.pageNumber"
                            [pageSize]="pagination.pageSize"
                            [collectionSize]="total()"
                            [maxSize]="5"
                            [ellipses]="true"
                            (pageChange)="goToPage($event)"
                            size="md">
            </ngb-pagination>
          </nav>
          }
        </ng-template>
      </li>
    </ul>
    <hr class="m-0" />
    <div [ngbNavOutlet]="nav"
         class="mt-2"></div>
  </section>
</main>