<section class="container pt-6">
    <div class="d-flex flex-column gap-4 mb-5 intro-text">
        <h6>استثمر في فرص واعدة وحقق النمو</h6>
        <h3>الاستثمار صار أسهل وأقرب
            مع شريكك المالية</h3>
    </div>

    <div class="row">
        <div class="col-12 col-md-7 d-flex flex-column gap-5">
            <div class="d-flex flex-column gap-4">
                <ul class="d-flex flex-column gap-3  list ">
                    <li class="d-flex gap-2 align-items-center">
                        <img src="assets/icons/bullet.svg"
                             alt="">
                        بدءاً من 1,000 ريال يمكنك الاستثمار في الفرص المطرحة
                    </li>
                    <li class="d-flex gap-2 align-items-center">
                        <img src="assets/icons/bullet.svg"
                             alt="">
                        عوائد تصل حتى 19% سنوياً
                    </li>
                    <li class="d-flex gap-2 align-items-center">
                        <img src="assets/icons/bullet.svg"
                             alt="">
                        تابع التوزيعات الدورية من حسابك بكل سهولة
                    </li>
                </ul>
                <a class="text-start text-primary text-decoration-underline w-100"
                   href="">سجل الآن</a>
            </div>
            <div class="d-flex flex-column gap-4 faq">
                <h5>نرافقك في رحلتك الاستثمارية</h5>
                <div ngbAccordion>
                    <div ngbAccordionItem
                         [collapsed]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>هل الشركة مصرحة؟
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    نعم، الشركة مصرحة من هيئة السوق المالية ضمن مختبر التقنية المالية
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>هل الشركة مصرحة؟
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    نعم، الشركة مصرحة من هيئة السوق المالية ضمن مختبر التقنية المالية
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>هل الشركة مصرحة؟
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    نعم، الشركة مصرحة من هيئة السوق المالية ضمن مختبر التقنية المالية
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>هل الشركة مصرحة؟
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    نعم، الشركة مصرحة من هيئة السوق المالية ضمن مختبر التقنية المالية
                                </ng-template>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-5 d-none d-md-flex">
            <div class="d-flex justify-content-end">
                <img src="assets/images/phone.svg"
                     alt="">
            </div>
        </div>
    </div>
</section>