<section class="container pt-6 pb-6">
  <div class="d-flex flex-column gap-4 mb-5 intro-text">
    <h6>{{ content.subtitle }}</h6>
    <h3>{{ content.title }}</h3>
  </div>

  <div class="row">
    <div class="col-12 col-md-7 d-flex flex-column gap-5">
      <div class="d-flex flex-column gap-4">
        <ul class="d-flex flex-column gap-3 list">
          <li class="d-flex gap-2 align-items-center">
            <img src="assets/icons/bullet.svg"
                 alt="" />
            {{ content.point[0].tip }}
          </li>
          <li class="d-flex gap-2 align-items-center">
            <img src="assets/icons/bullet.svg"
                 alt="" />
            {{ content.point[1].tip }}
          </li>
          <li class="d-flex gap-2 align-items-center">
            <img src="assets/icons/bullet.svg"
                 alt="" />
            {{ content.point[2].tip }}
          </li>
        </ul>
        <a class="text-start text-primary text-decoration-underline w-100"
           [routerLink]="'/' + WEB_ROUTES.AUTH.ROOT + '/' + WEB_ROUTES.AUTH.SIGN_UP"
           href="">
          {{ 'HOMEPAGE.FAQ.CTA' | translate }}
        </a>
      </div>

      <div class="d-flex flex-column gap-4 faq">
        <h5>{{ content.accordion_title }}</h5>

        <div ngbAccordion>
          <ng-container *ngFor="let item of content?.faqs; let i = index">
            <div ngbAccordionItem
                 [collapsed]="i !== 0">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  {{ item.question }}
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  {{ item.answer }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-5 d-none d-md-flex">
      <div class="d-flex justify-content-end">
        <img src="assets/images/phone.svg"
             alt="" />
      </div>
    </div>
  </div>
</section>