<section class="container pt-6 pb-6">
  <div class="d-flex flex-column gap-4 mb-5 intro-text">
    <h6>{{ "HOMEPAGE.FAQ.SUBTITLE" | translate }}</h6>
    <h3>{{ "HOMEPAGE.FAQ.TITLE" | translate }}</h3>
  </div>

  <div class="row">
    <div class="col-12 col-md-7 d-flex flex-column gap-5">
      <div class="d-flex flex-column gap-4">
        <ul class="d-flex flex-column gap-3 list">
          <li class="d-flex gap-2 align-items-center">
            <img src="assets/icons/bullet.svg" alt="" />
            {{ "HOMEPAGE.FAQ.BULLET_1" | translate }}
          </li>
          <li class="d-flex gap-2 align-items-center">
            <img src="assets/icons/bullet.svg" alt="" />
            {{ "HOMEPAGE.FAQ.BULLET_2" | translate }}
          </li>
          <li class="d-flex gap-2 align-items-center">
            <img src="assets/icons/bullet.svg" alt="" />
            {{ "HOMEPAGE.FAQ.BULLET_3" | translate }}
          </li>
        </ul>
        <a
          class="text-start text-primary text-decoration-underline w-100"
          href=""
        >
          {{ "HOMEPAGE.FAQ.CTA" | translate }}
        </a>
      </div>

      <div class="d-flex flex-column gap-4 faq">
        <h5>{{ "HOMEPAGE.FAQ.ACCORDION_TITLE" | translate }}</h5>

        <div ngbAccordion>
          <ng-container *ngFor="let item of faqItems; let i = index">
            <div ngbAccordionItem [collapsed]="i !== 0">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  {{ item.question | translate }}
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    {{ item.answer | translate }}
                  </ng-template>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-5 d-none d-md-flex">
      <div class="d-flex justify-content-end">
        <img src="assets/images/phone.svg" alt="" />
      </div>
    </div>
  </div>
</section>
