<section>
    <div class="container"
         data-aos="fade-up"
         data-aos-easing="linear"
         data-aos-duration="400">
        <div class="d-flex flex-column gap-1">
            <h1>نشاركك رحلة <br>
                الاستثمار العقاري</h1>
            <p>نفتح آفاق جديد في التمويل من خلال أحدث التقنيات المالية </p>
        </div>
        <div class="d-flex gap-2">
            <button class="btn btn-primary">مستثمر</button>
            <button class="btn btn-transparent">طالب تمويل</button>
        </div>
    </div>
</section>