<section>
  <div
    class="container"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="400"
  >
    <div class="d-flex flex-column gap-1">
      <h1>
        <span>{{ "HOMEPAGE.HERO.TITLE_LINE_1" | translate }}</span
        ><br />
        <span>{{ "HOMEPAGE.HERO.TITLE_LINE_2" | translate }}</span>
      </h1>
      <p>{{ "HOMEPAGE.HERO.SUBTITLE" | translate }}</p>
    </div>
    <div class="d-flex gap-2">
      <button class="btn btn-primary">
        {{ "HOMEPAGE.HERO.BUTTON_INVESTOR" | translate }}
      </button>
      <button class="btn btn-transparent">
        {{ "HOMEPAGE.HERO.BUTTON_APPLICANT" | translate }}
      </button>
    </div>
  </div>
</section>
