<nav class="navbar-expand-lg navbar-light ">
  <div class="container-fluid d-flex align-items-center py-0 px-3  justify-content-between">
    <div class="d-flex">
      <a class="navbar-brand text-white fw-bold"
         href="#">
        <img class="logo"
             src="assets/images/Takween-Logo.svg"
             alt="Logo" />
      </a>
    </div>
    <div ngbDropdown
         class="d-inline-block profile">
      <button type="button"
              id="dropdownBasic1"
              ngbDropdownToggle>
        <img src="assets/images/mewees.svg"
             alt="Profile"
             class="rounded-circle profile-img" />
      </button>
      <div ngbDropdownMenu
           aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Profile</button>
        <button ngbDropdownItem>Settings</button>
        <button (click)="onLogout()"
                ngbDropdownItem>Logout</button>
      </div>
    </div>
  </div>
</nav>