<nav class="navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex align-items-center p-3 p-md-4 justify-content-between">
    <div class="d-flex gap-5">
      <a class="navbar-brand text-white fw-bold logo" [routerLink]="'/'">
        <img [src]="cmsAssetsUrl + APP_CONFIG.logoDark" alt="" />
      </a>
      <ul class="">
        <li>
          <a class="fw-bold text-primary" [routerLink]="'/' + WEB_ROUTES.OPPORTUNITIES.ROOT">
            {{ 'LAYOUT.HEADER.NAV_2.ITEM_2' | translate }}
          </a>
        </li>
        <!-- <li>
          <a class="fw-bold text-primary" [routerLink]="'/' + WEB_ROUTES.CONTACT.ROOT">{{
            'LAYOUT.HEADER.NAV_1.ITEM_5' | translate
          }}</a>
        </li> -->
      </ul>
    </div>
    <div class="d-flex gap-3 align-items-center">
      <div ngbDropdown class="d-inline-block profile">
        <button type="button" id="dropdownBasic1" ngbDropdownToggle>
          <img
            [src]="tokenService.getUser().userProfile.profileImageUrl"
            alt="Profile"
            class="rounded-circle profile-img"
          />
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem class="d-flex gap-2 align-items-center">
            <i class="fa-solid fa-user"></i>

            {{ 'DASHBOARD_LAYOUT.HEADER.PROFILE_DROPDOWN.MY_PROFILE' | translate }}
          </button>
          <button
            ngbDropdownItem
            class="d-flex gap-2 align-items-center"
            [routerLink]="['/' + WEB_ROUTES.SETTINGS.ROOT]"
          >
            <i class="fa-solid fa-cog"></i>

            {{ 'DASHBOARD_LAYOUT.HEADER.PROFILE_DROPDOWN.SETTINGS' | translate }}
          </button>
          <button ngbDropdownItem>
            <a
              href="javascript:void(0)"
              (click)="onLangChange()"
              class="text-decoration-none cursor-pointer text-primary d-flex gap-2 align-items-center"
            >
              <i class="fa-solid fa-globe"></i>
              {{ translationService.language === 'en' ? 'Arabic' : 'English' }}
            </a>
          </button>
          <button (click)="onLogout()" class="text-danger d-flex gap-2 align-items-center" ngbDropdownItem>
            <i class="fa-solid fa-sign-out-alt"></i>

            {{ 'DASHBOARD_LAYOUT.HEADER.PROFILE_DROPDOWN.LOGOUT' | translate }}
          </button>
        </div>
      </div>

      <button (click)="onToggleSidebar()" class="d-flex d-md-none">
        <i class="fa-solid fa-bars fs-4"></i>
      </button>
    </div>
  </div>
</nav>
