:host {
    background-color: #f5f7fa;
}

.max-height {
    max-height: 100vh;
    background-color: #f5f7fa;

}

.content-container {
    padding-top: 100px;
    padding-bottom: 100px;
    // height: 100%;
}