<form action="">
  <div class="row d-flex gap-4">
    <!-- Question 1 -->

    <div class="col-12 form-group px-0">
      <label class="form-label">
        هل عملت في القطاع المالي خلال السنوات الخمس السابقة؟
      </label>
      <div class="d-flex col-md-6">
        <input type="radio"
               id="financial_yes"
               name="financial"
               class="d-none" />
        <label for="financial_yes"
               class="btn btn-option-select">نعم</label>

        <input type="radio"
               id="financial_no"
               name="financial"
               class="d-none" />
        <label for="financial_no"
               class="btn btn-option-select">لا</label>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="col-12 form-group px-0">
      <label class="form-label">
        هل أنت عضو مجلس إدارة أو لجنة مراجعة أو أحد كبار التنفيذيين في شركة
        مدرجة؟
      </label>
      <div class="d-flex col-md-4">
        <input type="radio"
               id="executive_yes"
               name="executive"
               class="d-none" />
        <label for="executive_yes"
               class="btn btn-option-select">نعم</label>

        <input type="radio"
               id="executive_no"
               name="executive"
               class="d-none" />
        <label for="executive_no"
               class="btn btn-option-select">لا</label>
      </div>
    </div>

    <!-- Question 3 -->
    <div class="col-12 form-group px-0">
      <label class="form-label">
        هل لديك علاقة بعضو مجلس إدارة أو لجنة مراجعة أو أحد كبار التنفيذيين في
        شركة مدرجة؟
      </label>
      <div class="d-flex col-md-4">
        <input type="radio"
               id="relation_yes"
               name="relation"
               class="d-none" />
        <label for="relation_yes"
               class="btn btn-option-select">نعم</label>

        <input type="radio"
               id="relation_no"
               name="relation"
               class="d-none" />
        <label for="relation_no"
               class="btn btn-option-select">لا</label>
      </div>
    </div>

    <!-- Question 4 -->
    <div class="col-12 form-group px-0">
      <label class="form-label">
        هل أنت مكلف بمهام عليا في المملكة أو في دولة أجنبية أو مناصب إدارة عليا
        أو وظيفة في إحدى المنظمات الدولية؟
      </label>
      <div class="d-flex col-md-4">
        <input type="radio"
               id="govtask_yes"
               name="govtask"
               class="d-none" />
        <label for="govtask_yes"
               class="btn btn-option-select">نعم</label>

        <input type="radio"
               id="govtask_no"
               name="govtask"
               class="d-none" />
        <label for="govtask_no"
               class="btn btn-option-select">لا</label>
      </div>
    </div>

    <!-- Question 5 -->
    <div class="col-12 form-group px-0">
      <label class="form-label">
        هل هناك صلة قرابة من شخص مكلف بمهام عليا في المملكة أو في دولة أجنبية أو
        في إحدى المنظمات الدولية؟
      </label>
      <div class="d-flex col-md-4">
        <input type="radio"
               id="relative_yes"
               name="relative"
               class="d-none" />
        <label for="relative_yes"
               class="btn btn-option-select">نعم</label>

        <input type="radio"
               id="relative_no"
               name="relative"
               class="d-none" />
        <label for="relative_no"
               class="btn btn-option-select">لا</label>
      </div>
    </div>

    <!-- Question 6 -->
    <div class="col-12 form-group px-0">
      <label class="form-label">هل تحمل جنسية الولايات المتحدة الأمريكية؟</label>
      <div class="d-flex col-md-4">
        <input type="radio"
               id="us_citizen_yes"
               name="us_citizen"
               class="d-none" />
        <label for="us_citizen_yes"
               class="btn btn-option-select">نعم</label>

        <input type="radio"
               id="us_citizen_no"
               name="us_citizen"
               class="d-none" />
        <label for="us_citizen_no"
               class="btn btn-option-select">لا</label>
      </div>
    </div>
  </div>
</form>