<form [formGroup]="formGroup"
      class="d-flex flex-column  gap-4">
       <!-- Question 1 -->

       <div class="col-12 form-group px-0">
              <label class="form-label">
                     Have you worked in the financial sector within the past five years?
              </label>
              <div class="d-flex col-md-6">
                     <input type="radio"
                            formControlName="workedInFinancialSector"
                            [id]="'workedInFinancialSector-' + true"
                            [value]="true"
                            class="d-none" />
                     <label [for]="'workedInFinancialSector-' + true"
                            class="btn btn-option-select">Yes</label>

                     <input type="radio"
                            formControlName="workedInFinancialSector"
                            [id]="'workedInFinancialSector-' + false"
                            [value]="false"
                            class="d-none" />
                     <label [for]="'workedInFinancialSector-' + false"
                            class="btn btn-option-select">No</label>
              </div>
              @if (formGroup.get('workedInFinancialSector')?.errors?.['required'] &&
              formGroup.get('workedInFinancialSector')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                     <i class="fa-solid fa-circle-exclamation"></i>
                     This field is required
              </small>
              }
       </div>

       <!-- Question 2 -->
       <div class="col-12 form-group px-0">
              <label class="form-label">
                     Are you a member of the board of directors, audit committee, or senior executive of a listed
                     company?

              </label>

              <div class="d-flex col-md-6">
                     <input type="radio"
                            formControlName="isBoardMember"
                            [id]="'isBoardMember-' + true"
                            [value]="true"
                            class="d-none" />
                     <label [for]="'isBoardMember-' + true"
                            class="btn btn-option-select">Yes</label>

                     <input type="radio"
                            formControlName="isBoardMember"
                            [id]="'isBoardMember-' + false"
                            [value]="false"
                            class="d-none" />
                     <label [for]="'isBoardMember-' + false"
                            class="btn btn-option-select">No</label>
              </div>
              @if (formGroup.get('isBoardMember')?.errors?.['required'] &&
              formGroup.get('isBoardMember')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                     <i class="fa-solid fa-circle-exclamation"></i>
                     This field is required
              </small>
              }
       </div>

       <!-- Question 3 -->
       <div class="col-12 form-group px-0">
              <label class="form-label">
                     Do you have a relationship with a board member, audit committee member, or senior executive
                     of a listed company?

              </label>

              <div class="d-flex col-md-6">
                     <input type="radio"
                            formControlName="hasRelationWithBoardMember"
                            [id]="'hasRelationWithBoardMember-' + true"
                            [value]="true"
                            class="d-none" />
                     <label [for]="'hasRelationWithBoardMember-' + true"
                            class="btn btn-option-select">Yes</label>

                     <input type="radio"
                            formControlName="hasRelationWithBoardMember"
                            [id]="'hasRelationWithBoardMember-' + false"
                            [value]="false"
                            class="d-none" />
                     <label [for]="'hasRelationWithBoardMember-' + false"
                            class="btn btn-option-select">No</label>
              </div>

              @if (formGroup.get('hasRelationWithBoardMember')?.errors?.['required'] &&
              formGroup.get('hasRelationWithBoardMember')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                     <i class="fa-solid fa-circle-exclamation"></i>
                     This field is required
              </small>
              }
       </div>

       <!-- Question 4 -->
       <div class="col-12 form-group px-0">
              <label class="form-label">
                     Are you assigned senior duties in the Kingdom or a foreign country, or are you in a senior
                     management position, or are you employed by an international organization?
              </label>
              <div clss="d-flex col-md-6">
                     <input type="radio"
                            formControlName="hasRelativeInHighPosition"
                            [id]="'hasRelativeInHighPosition-' + true"
                            [value]="true"
                            class="d-none" />
                     <label [for]="'hasRelativeInHighPosition-' + true"
                            class="btn btn-option-select">Yes</label>

                     <input type="radio"
                            formControlName="hasRelativeInHighPosition"
                            [id]="'hasRelativeInHighPosition-' + false"
                            [value]="false"
                            class="d-none" />
                     <label [for]="'hasRelativeInHighPosition-' + false"
                            class="btn btn-option-select">No</label>
              </div>

              @if (formGroup.get('hasRelativeInHighPosition')?.errors?.['required'] &&
              formGroup.get('hasRelativeInHighPosition')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                     <i class="fa-solid fa-circle-exclamation"></i>
                     This field is required
              </small>
              }
       </div>

       <!-- Question 5 -->
       <div class="col-12 form-group px-0">
              <label class="form-label">
                     Are you related to someone who holds high-ranking positions in the Kingdom, a foreign
                     country, or an international organization?
              </label>

              <div clss="d-flex col-md-6">
                     <input type="radio"
                            formControlName="holdsHighPosition"
                            [id]="'holdsHighPosition-' + true"
                            [value]="true"
                            class="d-none" />
                     <label [for]="'holdsHighPosition-' + true"
                            class="btn btn-option-select">Yes</label>

                     <input type="radio"
                            formControlName="holdsHighPosition"
                            [id]="'holdsHighPosition-' + false"
                            [value]="false"
                            class="d-none" />
                     <label [for]="'holdsHighPosition-' + false"
                            class="btn btn-option-select">No</label>
              </div>

              @if (formGroup.get('holdsHighPosition')?.errors?.['required'] &&
              formGroup.get('holdsHighPosition')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                     <i class="fa-solid fa-circle-exclamation"></i>
                     This field is required
              </small>
              }
       </div>

       <!-- Question 6 -->
       <div class="col-12 form-group px-0">
              <label class="form-label">
                     Are you a US citizen?
              </label>

              <div clss="d-flex col-md-6">
                     <input type="radio"
                            formControlName="hasUSCitizenship"
                            [id]="'hasUSCitizenship-' + true"
                            [value]="true"
                            class="d-none" />
                     <label [for]="'hasUSCitizenship-' + true"
                            class="btn btn-option-select">Yes</label>

                     <input type="radio"
                            formControlName="hasUSCitizenship"
                            [id]="'hasUSCitizenship-' + false"
                            [value]="false"
                            class="d-none" />
                     <label [for]="'hasUSCitizenship-' + false"
                            class="btn btn-option-select">No</label>
              </div>

              @if (formGroup.get('hasUSCitizenship')?.errors?.['required'] &&
              formGroup.get('hasUSCitizenship')?.touched ) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                     <i class="fa-solid fa-circle-exclamation"></i>
                     This field is required
              </small>
              }
       </div>
</form>