<div class="container d-flex flex-column justify-content-center h-100 align-items-center">
    <h6 class="d-flex gap-2">
        Don't have an account?<a class="text-primary"
           [routerLink]="'/' + WEB_ROUTES.AUTH.ROOT + '/' + WEB_ROUTES.AUTH.SIGN_UP ">Sign up</a>
    </h6>

    <div class="d-flex cards flex-column align-items-center gap-5 w-100">
        <div class="d-flex flex-column gap-3">
            <h1 class="fw-semibold">Log in</h1>
            <p>Your investment journey begins here. With simple steps, you can create an investment account and achieve
                your goals.</p>
        </div>
        <div class="w-100 d-flex flex-column gap-4">
            <!-- Email -->
            <div class="form-group">
                <label class="form-label"
                       for="">Email</label>
                <input type="text"
                       class="form-control">
            </div>
            <!-- Password -->
            <div class="d-flex flex-column gap-3">
                <div class="form-group">
                    <label class="form-label"
                           for="">Password</label>
                    <input type="password"
                           class="form-control">
                </div>
                <a href=""> Forgot password?</a>
            </div>
            <button (click)="onSignIn()"
                    class="btn btn-primary p-3"> Log in</button>
        </div>
    </div>
</div>