<section class="compliance">
    <div class="container">
        <div class="row mx-auto g-5 justify-content-between">
            <div class="col-12 col-md-6 d-flex flex-column gap-4 right-text">
                <h1>ملتزمون بأحكام
                    الشريعة الإسلامية</h1>
                <p>نلتزم في الشركة بقواعد وأحكام الشريعة الإسلامية وذلك من خلال لجنة شرعية من علماء متخصصين</p>
                <a href="">
                    <button class="btn btn-rounded btn-secondary">اقرأ المزيد</button>
                </a>
            </div>
            <div class="col-12 col-md-6 left-text d-flex flex-column gap-4 justify-content-between ">
                <div>
                    <h6>مراجعة جميع الاتفاقيات والعقود والعمليات</h6>
                    <p>تقوم اللجنة الشرعية بمراجعة جميع المستندات المتعلقة بعمليات الشركة والموافقة عليها</p>
                </div>
                <div>
                    <h6>مراقبة دورية لأعمال الشركة</h6>
                    <p>لا يتوقف عمل اللجنة الشرعية على المراجعات الأولى وحسب، بل تقوم بعمل مراجعات دورية لنضمن بشكل
                        مستمر
                        التزامنا التام بأحكام الشريعة</p>
                </div>
            </div>
        </div>
    </div>
</section>