<main class="d-flex flex-column gap-5">
  <!-- Stats -->
  <section>
    <div class="row g-2">
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card stats-card  bg-white py-3 px-3 d-flex align-items-center flex-row gap-3 h-100">
          <div class="icon success">
            <img src="assets/icons/Saudi_Riyal_Symbol-d.svg"
                 alt="">
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{'INVESTMENTS.STATS.TOTAL_INVESTMENTS' | translate}} </span>
            <div dir="ltr"
                 class="fw-semibold d-flex w-fit  gap-2">
              <img src="assets/icons/Saudi_Riyal_Symbol-d.svg"
                   alt="">
              {{statistics()?.totalInvestments}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card stats-card  bg-white py-3 px-3 d-flex flex-row  align-items-center gap-3 h-100">
          <div class="icon danger">
            <img src="assets/icons/invoice-dollar.svg"
                 alt="">
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{'INVESTMENTS.STATS.TOTAL_INVESTMENTS_NUMBER' | translate}}</span>
            <div dir="ltr"
                 class="fw-semibold d-flex w-fit gap-2">
              <img src="assets/icons/Saudi_Riyal_Symbol-d.svg"
                   alt="">
              {{statistics()?.totalInvestmentCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card stats-card  bg-white py-3 px-3 d-flex flex-row  align-items-center gap-3 h-100">
          <div class="icon primary">
            <img src="assets/icons/earnings.svg"
                 alt="">
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{'INVESTMENTS.STATS.TOTAL_EARNINGS' | translate}}</span>
            <div dir="ltr"
                 class="fw-semibold d-flex w-fit gap-2">
              <img src="assets/icons/Saudi_Riyal_Symbol-d.svg"
                   alt="">
              {{statistics()?.totalProfits}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listing -->
  <section>
    <div class="col-md-12 d-flex flex-column gap-3">
      <h5 class="card-title text-primary">{{'INVESTMENTS.MY_INVESTMENTS.TITLE' | translate}}</h5>
      <div class="row mx-0 g-3">
        @if (loading()) {
        <div class="py-3">
          <h6 class="text-center">
            {{'INVESTMENTS.MY_INVESTMENTS.LOADING' | translate}}...
          </h6>
        </div>
        }@else {
        @if (investments().length) {
        @for (item of investments(); track $index) {
        <div class="card bg-white  p-4 w-100">
          <div class="row align-items-center">

            <div class="col d-flex gap-4 align-items-center">
              <span class="badge bg-success">{{item.status}}</span>
              <div class="d-flex flex-column gap-2">
                <small> {{'INVESTMENTS.MY_INVESTMENTS.PRODUCT_NAME' | translate}}</small>
                <h6>{{item.name}}</h6>
              </div>
            </div>


            <div class="col d-flex flex-column gap-2">
              <small> {{'INVESTMENTS.MY_INVESTMENTS.INVESTED_AMOUNT' | translate}}</small>
              <div class="d-flex gap-2 w-fit"
                   dir="ltr"><img src="assets/icons/Saudi_Riyal_Symbol-d.svg"
                     alt="">{{item.stockValue}}</div>
            </div>

            <div class="col d-flex flex-column gap-2">
              <small>{{'INVESTMENTS.MY_INVESTMENTS.ROI' | translate}}</small>
              <div class="d-flex gap-2 w-fit"
                   dir="ltr"><img src="assets/icons/Saudi_Riyal_Symbol-d.svg"
                     alt="">{{item.stockCount}}</div>
            </div>


            <div class="col d-flex flex-column gap-2">
              <small>{{
                "INVESTMENTS.MY_INVESTMENTS.INVESTMENT_DATE" | translate
                }}</small>
              <span>{{ item.writingDate | date : "dd/MM/yyyy hh:mm a" }}</span>
            </div>

            <div class="col-1 d-flex justify-content-end">
              <a [routerLink]="
                  '/' +
                  WEB_ROUTES.INVESTMENTS.ROOT +
                  '/' +
                  WEB_ROUTES.INVESTMENTS.DETAILS +
                  '/' +
                  item.id
                "
                 class="btn btn-sm btn-primary">
                <i class="fas fa-eye"></i>
              </a>
            </div>
          </div>
        </div>
        }
        }@else{
        <div class="py-3">
          <h6 class="text-center">
            {{'INVESTMENTS.MY_INVESTMENTS.EMPTY' | translate}}
          </h6>
        </div>
        }
        }

      </div>
    </div>

    @if (!loading() && investments().length) {
    <nav class="d-flex justify-content-center my-4">
      <ngb-pagination [(page)]="pagination.pageNumber"
                      [pageSize]="pagination.pageSize"
                      [collectionSize]="total()"
                      [maxSize]="5"
                      [ellipses]="false"
                      (pageChange)="goToPage($event)"
                      size="md">
      </ngb-pagination>
    </nav>
    }
  </section>

</main>