<main class="d-flex flex-column gap-5">
  <!-- Stats -->
  <section>
    <div class="row g-2">
      <!-- Total invested -->
      <div class="col-md-12 col-lg-12 col-xl">
        <div class="card stats-card bg-white py-3 px-3 d-flex align-items-center flex-row gap-3 h-100">
          <div class="icon danger">
            <i class="fa-solid fa-money-bill-trend-up"></i>
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{ 'INVESTMENTS.STATS.TOTAL_INVESTMENTS' | translate }} </span>
            <div class="fw-semibold d-flex price-alignment w-fit gap-1">
              {{ statistics()?.totalInvestments | number: '1.0-2' }}
              <span class="icon-saudi_riyal"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Total investments -->
      <div class="col-md-12 col-lg-12 col-xl">
        <div class="card stats-card bg-white py-3 px-3 d-flex flex-row align-items-center gap-3 h-100">
          <div class="icon primary">
            <i class="fas fa-layer-group"></i>
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{ 'INVESTMENTS.STATS.TOTAL_INVESTMENTS_NUMBER' | translate }}</span>
            <div class="fw-semibold d-flex price-alignment w-fit gap-1">
              {{ statistics()?.totalInvestmentCount | number: '1.0-2' }}
              <!-- <span class="icon-saudi_riyal"></span> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Total earnings -->
      <div class="col-md-12 col-lg-12 col-xl">
        <div class="card stats-card bg-white py-3 px-3 d-flex flex-row align-items-center gap-3 h-100">
          <div class="icon success">
            <i class="fa-solid fa-money-bill"></i>
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{ 'INVESTMENTS.STATS.TOTAL_EARNINGS' | translate }}</span>
            <div class="fw-semibold d-flex price-alignment w-fit gap-1">
              {{ statistics()?.totalProfits | number: '1.0-2' }}
              <span class="icon-saudi_riyal"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Total expected profits -->
      <!-- <div class="col-md-12 col-lg-12 col-xl-2">
        <div class="card stats-card bg-white py-3 px-3 d-flex flex-row align-items-center gap-3 h-100">
          <div class="icon primary">
            <i class="fa fa-chart-line"></i>
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{ 'INVESTMENTS.STATS.TOTAL_EXPECTED_PROFITS' | translate }}</span>
            <div class="fw-semibold d-flex price-alignment w-fit gap-1">
              {{ statistics()?.totalExpectedProfits | number: '1.0-2' }}
              <span class="icon-saudi_riyal"></span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Total withdrawals -->
      <!-- <div class="col-md-12 col-lg-12 col-xl-2">
        <div class="card stats-card bg-white py-3 px-3 d-flex flex-row align-items-center gap-3 h-100">
          <div class="icon warning">
            <i class="fa fa-arrow-up-right-dots"></i>
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{ 'INVESTMENTS.STATS.TOTAL_WITHDRAWALS' | translate }}</span>
            <div class="fw-semibold d-flex price-alignment w-fit gap-1">
              {{ statistics()?.totalWithdraws | number: '1.0-2' }}
              <span class="icon-saudi_riyal"></span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Total Deposits -->
      <!-- <div class="col-md-12 col-lg-12 col-xl-2">
        <div class="card stats-card bg-white py-3 px-3 d-flex align-items-center flex-row gap-3 h-100">
          <div class="icon success fs-1">
            <span class="icon-saudi_riyal"></span>
          </div>

          <div class="d-flex flex-column gap-1">
            <span>{{ 'DASHBOARD.STATS.TOTAL_DEPOSIT' | translate }}</span>
            <div class="d-flex price-alignment w-fit gap-1">
              <span class="fw-semibold">{{ statistics()?.totalDeposits | number: '1.0-2' }} </span>
              <span class="icon-saudi_riyal"></span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <!-- Listing -->
  <section>
    <div class="col-md-12 d-flex flex-column gap-3">
      <div class="d-flex gap-2 align-items-center justify-content-between">
        <h5 class="card-title text-primary">
          {{ 'INVESTMENTS.MY_INVESTMENTS.TITLE' | translate }}
        </h5>

        <div class="form-group">
          <div class="input-group">
            @if (translationService.language === 'en') {
              <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
            }

            <input
              [formControl]="search"
              class="form-control form-control-sm"
              [placeholder]="'INVESTMENTS.SEARCH_PLACEHOLDER' | translate"
            />

            @if (translationService.language === 'ar') {
              <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
            }
          </div>
        </div>
      </div>
      <div class="row mx-0 g-3">
        @if (loading()) {
          <div class="py-3">
            <h6 class="text-center">{{ 'INVESTMENTS.MY_INVESTMENTS.LOADING' | translate }}...</h6>
          </div>
        } @else {
          @if (investments().length) {
            @for (item of investments(); track $index) {
              <div class="card bg-white p-4 w-100">
                <div class="row align-items-center">
                  <div class="col d-flex gap-4 align-items-center">
                    <span class="badge bg-success">{{ item.status }}</span>
                    <div class="d-flex flex-column gap-2">
                      <h6>{{ item.name }}</h6>
                    </div>
                  </div>

                  <div class="col d-flex flex-column gap-2">
                    <small> {{ 'INVESTMENTS.MY_INVESTMENTS.INVESTED_AMOUNT' | translate }}</small>
                    <div class="d-flex gap-1 price-alignment w-fit">
                      {{ item.stockValue | number: '1.0-2' }}
                      <span class="icon-saudi_riyal"></span>
                    </div>
                  </div>

                  <div class="col d-flex flex-column gap-2">
                    <small>{{ 'INVESTMENTS.MY_INVESTMENTS.ROI' | translate }}</small>
                    <div class="d-flex gap-1 price-alignment w-fit">
                      {{ item.stockCount | number: '1.0-2' }}
                      <span class="icon-saudi_riyal"></span>
                    </div>
                  </div>

                  <div class="col d-flex flex-column gap-2">
                    <small>{{ 'INVESTMENTS.MY_INVESTMENTS.INVESTMENT_DATE' | translate }}</small>
                    <span class="w-fit" dir="ltr">{{ item.writingDate | date: 'dd/MM/yyyy hh:mm a' }}</span>
                  </div>

                  <div class="col-1 d-flex justify-content-end">
                    <a
                      [routerLink]="
                        '/' + WEB_ROUTES.INVESTMENTS.ROOT + '/' + WEB_ROUTES.INVESTMENTS.DETAILS + '/' + item.id
                      "
                      class="btn btn-sm btn-outline-primary"
                    >
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            }
          } @else {
            <div class="py-3">
              <h6 class="text-center">
                {{ 'INVESTMENTS.MY_INVESTMENTS.EMPTY' | translate }}
              </h6>
            </div>
          }
        }
      </div>
    </div>

    @if (!loading() && investments().length) {
      <nav class="d-flex justify-content-center my-4">
        <ngb-pagination
          [(page)]="pagination.pageNumber"
          [pageSize]="pagination.pageSize"
          [collectionSize]="total()"
          [maxSize]="5"
          [ellipses]="false"
          (pageChange)="goToPage($event)"
          size="md"
        >
        </ngb-pagination>
      </nav>
    }
  </section>
</main>
