<section class="row g-4">
  <!-- Details -->
  <div class="col-lg-7 col-12 d-flex flex-column gap-4">
    <!-- Investment calculation -->
    <div class="d-flex flex-column  gap-4">
      <div class="col-12 d-flex flex-column gap-3">
        <h4 class="fw-bold">{{ "OPPOTUNITIES_PAYMENT.INVESTMENT_STEP" | translate }}</h4>
        <div class="d-flex flex-column">
          <label class="form-label small">
            Select the number of bonds to invest in
          </label>
          <input class="col-md-10 col-sm-12 form-control"
                 type="number"
                 [formControl]="search" />
        </div>
        <div class="col-12 p-md-0 ">
          <span> Minimum investment = 1 bond with a value of currency</span>
          <span> Maximum investment = 25 bonds with a value of currency</span>
        </div>
        <div>
          <p>For unlimited investment, you can request an</p>
          <a href="">
            Account upgrade
          </a>
        </div>
      </div>
      <div class="card col-12 card-grey d-flex flex-column gap-3 p-3 py-2 h-fit">
        <ul class="list-unstyled d-flex flex-column  gap-3">
          <li class="d-flex justify-content-between py-2 border-bottom">
            <span class="fw-regular small">
              {{ "OPPOTUNITIES_PAYMENT.TOTAL_INVESTMENT_AMOUNT" | translate }}
            </span>
            <span>10000</span>
          </li>
          <li class="d-flex justify-content-between py-2 border-bottom">
            <span class="fw-regular small">
              {{ "OPPOTUNITIES_PAYMENT.TOTAL_EXPECTED_RETURN" | translate }}
            </span>
            <span>0</span>
          </li>
          <li class="d-flex justify-content-between py-2 border-bottom">
            <span class="fw-regular small">

              {{ "OPPOTUNITIES_PAYMENT.AGENCY_FEE" | translate }}
            </span>
            <span>0</span>
          </li>
          <li class="d-flex justify-content-between py-2 border-bottom">
            <span class="fw-regular small">

              {{ "OPPOTUNITIES_PAYMENT.VAT" | translate }}
            </span>
            <span>0</span>
          </li>
          <li class="d-flex justify-content-between py-2">
            <span class="fw-regular small">

              {{ "OPPOTUNITIES_PAYMENT.NET_RETURN" | translate }}
            </span>
            <span>15000</span>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- Payment -->
  <div class="col-lg-5 col-12">
    <div class="card card-light-blue py-4 px-3 px-md-4 shadow-sm rounded-4 border-0 d-flex flex-column gap-2">
      <h5 class="fw-semibold mb-2">
        Payment Method
      </h5>
      <div class="p-3 border  border-1 shadow-sm bg-white rounded-3 d-flex justify-content-between align-items-center">
        <span class="text-dark small">{{
          "OPPOTUNITIES_PAYMENT.INVESTMENT_WALLET" | translate
          }}</span>
        <span class="small">{{user.investmentAccount.balance | currency: 'SAR '}}</span>
      </div>


      <hr />

      <div class=" d-flex  justify-content-between align-items-center">
        <h3 class="fw-semibold col">
          {{ "OPPOTUNITIES_PAYMENT.TOTAL_AMOUNT" | translate }}
        </h3>
        <span class="fw-semibold fs-5 d-inline-flex col justify-content-end align-items-center gap-1">
          {{100000 | currency: 'SAR '}}
        </span>
      </div>

      <div class="mt-3 d-flex align-items-start gap-2">
        <input type="checkbox"
               id="terms"
               class="mt-1"
               checked />
        <label for="terms">
          <span class="fw-light">
            I acknowledge that I have read <a href="#"
               class="text-primary fw-bold">{{
              "OPPOTUNITIES_PAYMENT.TERMS_CONDITIONS" | translate
              }}</a> of the platform and all documents and information related to
            the investment opportunity. I fully acknowledge and understand that the platform does not provide any
            recommendations, and I fully acknowledge and understand that the platform does not provide any
            recommendations, and I fully acknowledge and understand that the platform does not provide any
            recommendations
          </span>

        </label>
      </div>

      <div class="mt-3">
        <div class="row g-2">
          <div class="col-md-8 col-12">
            <button [routerLink]="
                '/' +
                WEB_ROUTES.OPPORTUNITIES.ROOT +
                '/' +
                WEB_ROUTES.OPPORTUNITIES.DETAILS +
                '/' +
                WEB_ROUTES.OPPORTUNITIES.SUCCESS
              "
                    class="btn btn-primary py-2 w-100">
              {{ "OPPOTUNITIES_PAYMENT.CONFIRM_PAYMENT" | translate }}
            </button>
          </div>
          <div class="col-md-4 col-12">
            <button class="btn btn-light py-2 w-100">
              {{ "OPPOTUNITIES_PAYMENT.CANCEL" | translate }}
            </button>
          </div>
        </div>

        <p class="text-muted small mt-4">
          {{ "OPPOTUNITIES_PAYMENT.PAYMENT_CONFIRMATION_MESSAGE" | translate }}
        </p>
      </div>
    </div>
  </div>

  <!-- Dividends Table -->
  <div class="col-12">
    <h5 class="mb-2">
      Dividends
    </h5>
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">
              Initial Balance
            </th>
            <th scope="col">
              Payment Date
            </th>
            <th scope="col">
              Nominal Value
            </th>
            <th scope="col">
              Earned Value
            </th>
            <th scope="col">
              Agency Fee
            </th>
            <th scope="col">
              Vat
            </th>
            <th scope="col">
              Net
            </th>
          </tr>
        </thead>
        <tbody>
          @for (payment of opportunity.dividends; track $index) {
          <tr>
            <td>{{ payment.initialBalance | currency: 'SAR ' }}</td>

            <td>
              {{payment.paymentDate | date}}
            </td>

            <td>
              {{payment.nominalValue | currency: 'SAR '}}
            </td>

            <td>
              {{payment.earn | currency: 'SAR '}}
            </td>

            <td>
              {{payment.agencyFee | currency: 'SAR '}}
            </td>

            <td> {{payment.vat | currency: 'SAR '}}</td>
            <td> {{payment.net | currency: 'SAR '}}</td>
          </tr>
          }

        </tbody>
      </table>
    </div>
  </div>
</section>