.custom-btn {
  border-color: black;
  width: 100px;
  height: 23px;
}
.bg-late {
  background-color: #fff1d6;
  .icon {
    margin-right: 2rem;
    color: #feaa09;
  }
}
.riyal {
  height: 14px;
  width: 14px;
}
.custom-show {
  width: 106px;
  height: 36px;
}
.fs-14 {
  font-size: 14px;
}
.bg-success {
  background-color: #f0fdf4 !important;
  label {
    color: #16a34a;
  }
}
.bg-late {
  label {
    color: #9b6600;
  }
}
.bg-secondary {
  label {
    color: white;
  }
}
