<div class="d-flex about">
  <img
    class="position-absolute vector"
    src="assets/images/about-us/bgvec.svg"
    alt=""
  />
  <div class="position-relative container justify-contenr-center gap-4 d-flex">
    <div class="row mobile">
      <div class="col-md-6 col-12">
        <h1 class="fw-bold">{{ "ABOUT_US.OVERVIEW.HEADING" | translate }}</h1>

        <p class="fw-light">
          {{ "ABOUT_US.OVERVIEW.PARAGRAPH_1" | translate }}
        </p>
        <p class="fw-light">
          {{ "ABOUT_US.OVERVIEW.PARAGRAPH_2" | translate }}
        </p>
        <p class="fw-light">
          {{ "ABOUT_US.OVERVIEW.PARAGRAPH_3" | translate }}
        </p>
      </div>

      <div class="col-md-6 col-12 d-flex row gap-4">
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/calendar-days.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">
              {{ "ABOUT_US.OVERVIEW.CARD_1.YEAR" | translate }}
            </h4>
            <p class="fw-light">
              {{ "ABOUT_US.OVERVIEW.CARD_1.TEXT" | translate }}
            </p>
          </div>
        </div>

        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/badge-check.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">
              {{ "ABOUT_US.OVERVIEW.CARD_2.LICENSE" | translate }}
            </h4>
            <p class="fw-light">
              {{ "ABOUT_US.OVERVIEW.CARD_2.TEXT" | translate }}
            </p>
          </div>
        </div>

        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/chart-bar-square.svg"
            alt=""
          />
          <div class="gap-2 row">
            <app-currency-amount
              [amount]="500000000000"
              [shorten]="true"
              [countUp]="true"
              [size]="3"
              extraClass="fw-bold"
            ></app-currency-amount>
            <p class="fw-light">
              {{ "ABOUT_US.OVERVIEW.CARD_3.TEXT" | translate }}
            </p>
          </div>
        </div>

        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/library.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">
              {{ "ABOUT_US.OVERVIEW.CARD_4.CITY" | translate }}
            </h4>
            <p class="fw-light">
              {{ "ABOUT_US.OVERVIEW.CARD_4.TEXT" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
