<div class="d-flex about">
  <img
    class="position-absolute vector"
    src="assets/images/about-us/bgvec.svg"
    alt=""
  />
  <div class="position-relative container justify-contenr-center gap-4 d-flex">
    <div class="row mobile">
      <div class="col-md-6 col-12">
        <h1 class="fw-bold">خبرات استثمارية لخدمة أهدافك</h1>

        <p class="fw-light">
          شركة تام المالية هي شركة مالية استثمارية تقدم منتجات وحلول استثمارية
          مبتكرة ومتوافقة مع الشريعة الإسلامية على مستوى عالمي للمؤسسات والشركات
          العائلية والمستثمرين المؤهلين والأفراد لدى تام المالية نخبة من
          المهنيين ذوي الخبرات الواسعة والمتنوعة في تقديم خدمات إدارة الأصول،
          بما في ذلك إدارة الصناديق والمحافظ الاستثمارية، والاستشارات، والأسواق
          المالية، والاستثمارات العقارية.
        </p>
        <p class="fw-light">
          شركة تام المالية هي شركة مالية استثمارية تقدم منتجات وحلول استثمارية
          مبتكرة ومتوافقة مع الشريعة الإسلامية على مستوى عالمي للمؤسسات والشركات
          العائلية والمستثمرين المؤهلين والأفراد. لدى تام المالية نخبة من
          المهنيين ذوي الخبرات الواسعة والمتنوعة في تقديم خدمات إدارة الأصول،
          بما في ذلك إدارة الصناديق والمحافظ الاستثمارية، والاستشارات، والأسواق
          المالية، والاستثمارات العقارية.
        </p>
        <p class="fw-light">
          تأسست شركة تام المالية عام 2024 سجل تجاري دقم xxxxx ورأس المال المدفوع
          25.5 مليون ريال سعودي. وحصلت على ترخيص هيئة السوق المالية لنشاط
          الترتيب وإدارة الاستثمارات بتاريخ 1/10/2024 ورقم xxxx
        </p>
      </div>
      <div class="col-md-6 col-12 d-flex row gap-4">
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/calendar-days.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">2024</h4>
            <p class="fw-light">
              تأسست تام المالية على يد نخبة من ذوي الخبرات المالية والاستثمارية
              عام 2024
            </p>
          </div>
        </div>
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/badge-check.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">24297-12​</h4>
            <p class="fw-light">
              شركة تام المالية مرخصة من هيئة السوق المالية بترخيص رقم 12-24297
            </p>
          </div>
        </div>
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/chart-bar-square.svg"
            alt=""
          />
          <div class="gap-2 row">
            <app-currency-amount
              [amount]="500000000000"
              [shorten]="true"
              [countUp]="true"
              [size]="3"
              extraClass="fw-bold"
            >
            </app-currency-amount>
            <p class="fw-light">
              xw متوقع أن تبلغ الأصول المدارة للشركة 500 مليار ريال سعودي
            </p>
          </div>
        </div>
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/library.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">الرياض</h4>
            <p class="fw-light">
              يقع المركز الرئيسي لشركة تام المالية بمدينة الرياض بالمملكة
              العربية السعودية
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
