<div class="d-flex about">
  <img
    class="position-absolute vector"
    src="assets/images/about-us/bgvec.svg"
    alt=""
  />
  <div class="position-relative container justify-contenr-center gap-4 d-flex">
    <div class="row mobile">
      <div class="col-md-6 col-12">
        <h1 class="fw-bold">{{ content.title }}</h1>

        <p class="fw-light">
          {{ content.description }}
        </p>
        <p class="fw-light"></p>
        <p class="fw-light"></p>
      </div>
      <div class="col-md-6 col-12 d-flex row gap-4">
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/calendar-days.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">{{ content.box[0].title }}</h4>
            <p class="fw-light">
              {{ content.box[0].description }}
            </p>
          </div>
        </div>
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/badge-check.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">{{ content.box[1].title }}​</h4>
            <p class="fw-light">
              {{ content.box[1].description }}
            </p>
          </div>
        </div>
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/chart-bar-square.svg"
            alt=""
          />
          <div class="gap-2 row">
            <div class="d-flex">
              <h4 class="fw-bold">
                {{ content.box[2].title }}
              </h4>
              <img
                class="riyal"
                src="assets/icons/Saudi_Riyal_Symbol-d.svg"
                alt=""
              />
            </div>

            <!-- <app-currency-amount
              [amount]="500000000000"
              [shorten]="true"
              [countUp]="true"
              [size]="3"
              extraClass="fw-bold"
            >
            </app-currency-amount> -->
            <p class="fw-light">
              {{ content.box[2].description }}
            </p>
          </div>
        </div>
        <div class="d-flex gap-3">
          <img
            class="icon"
            src="/assets/icons/about-us/Media/Icon/Unfilled/library.svg"
            alt=""
          />
          <div class="gap-2 row">
            <h4 class="fw-bold">{{ content.box[3].title }}</h4>
            <p class="fw-light">
              {{ content.box[3].description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
