<div class="container d-flex flex-column justify-content-center h-100 align-items-center">
  <div class="d-flex cards flex-column align-items-center gap-5 w-100">
    <div class="d-flex text-center flex-column gap-3">
      <h1 class="fw-semibold">
        {{ 'AUTHENTICATION.FORGOT_PASSWORD.FIND_ACCOUNT_TITLE' | translate }}
      </h1>
      <p>
        {{ 'AUTHENTICATION.FORGOT_PASSWORD.FIND_ACCOUNT_DESCRIPTION' | translate }}
      </p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-100 d-flex flex-column gap-4">
      <div class="form-group">
        <div class="form-group col-12">
          <label class="form-label">
            {{ 'AUTHENTICATION.REGISTRATION.INDIVIDUAL.INFORMATION.FORM.PHONE_NUMBER.LABEL' | translate }}
            <span class="text-danger">*</span>
          </label>

          <div class="input-group">
            @if (translationService.language === 'en') {
              <span class="input-group-text" dir="ltr">+966</span>
            }

            <input
              maxlength="10"
              type="tel"
              class="form-control"
              formControlName="phoneNumber"
              placeholder="5xxxxxxxx"
            />

            @if (translationService.language === 'ar') {
              <span class="input-group-text" dir="ltr">+966</span>
            }
          </div>

          @if (form.get('phoneNumber')?.errors?.['required'] && form.get('phoneNumber')?.touched) {
            <small class="text-danger mt-1 d-flex align-items-center gap-1">
              <i class="fa-solid fa-circle-exclamation"></i>
              {{ 'VALIDATORS.REQUIRED' | translate }}
            </small>
          }
          @if (
            form.get('phoneNumber')?.errors?.['minlength'] ||
            form.get('phoneNumber')?.errors?.['maxlength'] ||
            form.get('phoneNumber')?.errors?.['pattern']
          ) {
            <small class="text-danger mt-1 d-flex align-items-center gap-1">
              <i class="fa-solid fa-circle-exclamation"></i>
              {{ 'VALIDATORS.INVALID_PHONE_NUMBER' | translate }}
            </small>
          }
        </div>
      </div>

      <button type="submit" [disabled]="loading() || form.invalid" class="btn btn-primary p-3">
        {{ 'AUTHENTICATION.FORGOT_PASSWORD.SEND_OTP_BUTTON' | translate }}
      </button>
    </form>
  </div>
</div>
