<section class="py-4">
  <div class="row">
    <div class="col-xl-2 col-12 d-flex justify-content-center">
      <div class="position-relative d-inline-block">
        <label class="cursor-pointer" for="profile-input">
          <img
            [src]="uploadedImage() || sessionUserData()?.userProfile?.profileImageUrl"
            class="rounded-circle mt-5 profile-img cursor-pointer"
            alt="Profile"
          />
          <div class="edit-icon">
            <i class="fas fa-pen"></i>
          </div>
        </label>

        <input type="file" id="profile-input" class="d-none" (change)="onProfileChange($event)" accept="image/*" />
      </div>
    </div>
    <div class="col-xl-10 col-12">
      <div class="g-4 row">
        <div class="col-md-6 col-12">
          <small>{{ 'SETTINGS.PROFILE.NAME' | translate }}</small>
          <h6 class="fw-bold mt-1 text-primary">
            {{ user()?.fullName }}
          </h6>
        </div>
        <div class="col-md-6 col-12">
          <small>{{ 'SETTINGS.PROFILE.PHONE' | translate }}</small>
          <h6 class="fw-bold mt-1 text-primary">+966{{ user()?.mobileNumber || 'N/A' }}</h6>
        </div>
        <div class="col-md-6 col-12">
          <small>{{ 'SETTINGS.PROFILE.ID_NUMBER' | translate }}</small>
          <h6 class="fw-bold mt-1 text-primary">
            {{ user()?.idNumber }}
          </h6>
        </div>
        <div class="col-md-6 col-12">
          <small>{{ 'SETTINGS.PROFILE.ID_EXPIRY_DATE' | translate }}</small>
          <h6 class="fw-bold mt-1 text-primary">
            {{ user()?.idExpiryDate | date }}
          </h6>
        </div>
      </div>
      <div>
        <form [formGroup]="form" class="g-3 mt-2 row">
          <div class="col-lg-6 col-12">
            <label class="form-label" for="streetName">{{ 'SETTINGS.PROFILE.STREET_NAME' | translate }}</label>
            <input
              type="text"
              id="streetName"
              formControlName="streetName"
              class="form-control"
              placeholder="{{ 'SETTINGS.PROFILE.STREET_NAME' | translate }}"
            />
            @if (form.get('streetName')?.errors?.['required'] && form.get('streetName')?.touched) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ 'VALIDATORS.REQUIRED' | translate }}
              </small>
            }
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label" for="district">{{ 'SETTINGS.PROFILE.DISTRICT' | translate }}</label>
            <input
              type="text"
              id="district"
              formControlName="district"
              class="form-control"
              placeholder="{{ 'SETTINGS.PROFILE.CITY' | translate }}"
            />
            @if (form.get('district')?.errors?.['required'] && form.get('district')?.touched) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ 'VALIDATORS.REQUIRED' | translate }}
              </small>
            }
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label" for="city">{{ 'SETTINGS.PROFILE.CITY' | translate }}</label>
            <input
              type="text"
              id="city"
              formControlName="city"
              class="form-control"
              placeholder="{{ 'SETTINGS.PROFILE.CITY' | translate }}"
            />
            @if (form.get('city')?.errors?.['required'] && form.get('city')?.touched) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ 'VALIDATORS.REQUIRED' | translate }}
              </small>
            }
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label" for="postalCode">{{ 'SETTINGS.PROFILE.POSTAL_CODE' | translate }}</label>
            <input type="text" id="postalCode" formControlName="postalCode" class="form-control" placeholder="12345" />
            @if (form.get('postalCode')?.errors?.['required'] && form.get('postalCode')?.touched) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ 'VALIDATORS.REQUIRED' | translate }}
              </small>
            }
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label" for="additionalCode">
              {{ 'SETTINGS.PROFILE.ADDITIONAL_CODE' | translate }}
            </label>
            <input
              type="text"
              id="additionalCode"
              formControlName="additionalCode"
              class="form-control"
              placeholder="12345"
            />
            @if (form.get('additionalCode')?.errors?.['required'] && form.get('additionalCode')?.touched) {
              <small class="text-danger mt-1 d-flex align-items-center gap-1">
                <i class="fa-solid fa-circle-exclamation"></i>
                {{ 'VALIDATORS.REQUIRED' | translate }}
              </small>
            }
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 mt-3 d-flex justify-content-end">
      <button (click)="onSave()" [disabled]="loading()" class="btn rounded-3 btn-primary mt-4" type="submit">
        {{ 'SETTINGS.PROFILE.SAVE' | translate }}
      </button>
    </div>
  </div>
</section>
