<section class="">
  <div class="row d-flex">
    <div class="col-md-2 col-12 d-flex justify-content-center">
      <div class="position-relative d-inline-block">
        <img src="assets/images/mewees.svg"
             class="rounded-circle mt-5 profile-img cursor-pointer"
             alt="Profile"
             onclick="document.getElementById('profile-input').click()" />
        <div class="edit-icon">
          <i class="fas fa-pen"></i>
        </div>
        <input type="file"
               id="profile-input"
               class="d-none"
               accept="image/*" />
      </div>
    </div>
    <div class="col-md-10 col-12">
      <div class="g-4 d-flex mt-2 row">
        <div class="col-md-6 col-12">
          <small>{{
            "SETTINGS.PROFILE.NAME" | translate
            }}</small>
          <h6 class="fw-bold text-primary">{{user.userProfile.fullName}}</h6>
        </div>
        <div class="col-md-6 col-12">
          <small>{{
            "SETTINGS.PROFILE.PHONE" | translate
            }}</small>
          <h6 class="fw-bold text-primary">{{user.userProfile.nationality || 'N/A'}}</h6>
        </div>
        <div class="col-md-6 col-12">
          <small>{{
            "SETTINGS.PROFILE.ID_NUMBER" | translate
            }}</small>
          <h6 class="fw-bold text-primary">{{user.userProfile.nationalId}}</h6>
        </div>
        <div class="col-md-6 col-12">
          <small>{{
            "SETTINGS.PROFILE.ID_EXPIRY_DATE" | translate
            }}</small>
          <h6 class="fw-bold text-primary">{{user.userProfile.expiryDate | date}}</h6>
        </div>

      </div>
      <div>
        <form [formGroup]="form"
              class="g-4 d-flex mt-2 row">
          <div class="col-md-6 col-12">
            <h6 class="">{{ "SETTINGS.PROFILE.STREET_NAME" | translate }}</h6>
            <input type="text"
                   formControlName="streetName"
                   class="form-control mt-2"
                   placeholder="{{ 'SETTINGS.PROFILE.STREET_NAME' | translate }}" />
          </div>
          <div class="col-md-6 col-12">
            <h6 class="">{{ "District" | translate }}</h6>
            <input type="text"
                   formControlName="district"
                   class="form-control mt-2"
                   placeholder="{{ 'SETTINGS.PROFILE.CITY' | translate }}" />
          </div>
          <div class="col-md-6 col-12">
            <h6 class="">{{ "SETTINGS.PROFILE.CITY" | translate }}</h6>
            <input type="text"
                   formControlName="city"
                   class="form-control mt-2"
                   placeholder="{{ 'SETTINGS.PROFILE.CITY' | translate }}" />
          </div>
          <div class="col-md-6 col-12">
            <h6 class="">{{ "SETTINGS.PROFILE.POSTAL_CODE" | translate }}</h6>
            <input type="text"
                   formControlName="postalCode"
                   class="form-control mt-2"
                   placeholder="12345" />
          </div>
          <div class="col-md-6 col-12">
            <h6 class="">
              {{ "SETTINGS.PROFILE.ADDITIONAL_CODE" | translate }}
            </h6>
            <input type="text"
                   formControlName="additionalCode"
                   class="form-control mt-2"
                   placeholder="12345" />
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 mt-3 d-flex justify-content-end">
      <button class="btn rounded-3 btn-primary mt-4 col-12 col-md-2"
              type="submit">
        {{ "SETTINGS.PROFILE.SAVE" | translate }}
      </button>
    </div>
  </div>
</section>