<section class="bg-white rounded-4 p-4">
  <ul ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      class="nav-tabs">
    <!-- Profile -->
    <li [ngbNavItem]="1">
      <button ngbNavLink>{{ "SETTINGS.PROFILE.PROFILE" | translate }}</button>
      <ng-template ngbNavContent>
        <app-profile></app-profile>
      </ng-template>
    </li>
    <!-- Personal Information -->
    <li [ngbNavItem]="2">
      <button ngbNavLink>{{'SETTINGS.INFO.TITLE' |
        translate}}</button>
      <ng-template ngbNavContent>
        <app-personal></app-personal>
      </ng-template>
    </li>
    <!-- security -->
    <li [ngbNavItem]="3">
      <button ngbNavLink>{{ "SETTINGS.SECURITY.SECURITY" | translate }}</button>
      <ng-template ngbNavContent>
        <app-security></app-security>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink>{{ "SETTINGS.BANK.BANK" | translate }}</button>
      <ng-template ngbNavContent>
        <app-bank></app-bank>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <button ngbNavLink>
        {{ "SETTINGS.INVESTMENT.INVESTMENT" | translate }}
      </button>
      <ng-template ngbNavContent>
        <app-investment></app-investment>
      </ng-template>
    </li>
  </ul>
  <hr class="m-0" />
  <div [ngbNavOutlet]="nav"
       class="mt-2"></div>
</section>