<section class="bg-white rounded-4 p-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        [routerLink]="[WEB_ROUTES.SETTINGS.PROFILE]"
        routerLinkActive="active"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ "SETTINGS.PROFILE.PROFILE" | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="[WEB_ROUTES.SETTINGS.PERSONAL]"
        routerLinkActive="active"
        class="nav-link"
      >
        {{ "SETTINGS.INFO.TITLE" | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="[WEB_ROUTES.SETTINGS.SECURITY]"
        routerLinkActive="active"
        class="nav-link"
      >
        {{ "SETTINGS.SECURITY.SECURITY" | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="[WEB_ROUTES.SETTINGS.BANK]"
        routerLinkActive="active"
        class="nav-link"
      >
        {{ "SETTINGS.BANK.BANK" | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="[WEB_ROUTES.SETTINGS.INVESTMENT]"
        routerLinkActive="active"
        class="nav-link"
      >
        {{ "SETTINGS.INVESTMENT.INVESTMENT" | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="[WEB_ROUTES.SETTINGS.UPGRADE]"
        routerLinkActive="active"
        class="nav-link"
      >
        {{ "SETTINGS.UPGRADE.TITLE" | translate }}
      </a>
    </li>
  </ul>

  <hr class="m-0" />

  <router-outlet></router-outlet>
</section>
