.nav-tabs {
  border-bottom: none;
  display: flex;
  gap: 1.5rem;
  padding: 0 1rem;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-tabs .nav-link {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #b1b1b1;
  padding: 1rem 0;
  position: relative;
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  color: (var(--primary-color));
  font-weight: 600;
}

.nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: (var(--primary-color));
  border-radius: 5px 5px 0 0;
}
.icon-circle {
  background-color: #feaa09;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
.btn-custom {
  background-color: #6366f1;
}
