<section class="bg-white rounded-4 p-4">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <!-- profile -->
    <li [ngbNavItem]="1">
      <button ngbNavLink>Profile</button>
      <ng-template ngbNavContent>
        <app-profile></app-profile>
      </ng-template>
    </li>
    <!-- security -->
    <li [ngbNavItem]="2">
      <button ngbNavLink>Security</button>
      <ng-template ngbNavContent>
        <app-security></app-security>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Bank</button>
      <ng-template ngbNavContent>
        <app-bank></app-bank>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink>Investment</button>
      <ng-template ngbNavContent>
        <app-investment></app-investment>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</section>
