<div class="d-flex flex-column gap-4">
  <!-- ====== User Information Summary ====== -->
  <div class="shadow-sm px-2 py-2 bg-light row g-1 rounded-3">
    <!-- ====== Full Name ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Full name</small>
      <span class="fw-bold">{{step.resolvedData?.englishFirstName + ' ' + step.resolvedData?.englishLastName}}
      </span>
    </div>
    <!-- ====== Date of birth ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Date of Birth </small>
      <span class="fw-bold">{{step.resolvedData?.dateOfBirthH }}</span>
    </div>
    <!-- ====== Place of birth ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Place of Birth </small>
      <span class="fw-bold">{{step.resolvedData?.placeOfBirth }}</span>
    </div>
    <!-- ====== Nationality ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Nationality</small>
      <span class="fw-bold">سعودي</span>
    </div>
    <!-- ====== ID Expiry Date ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>ID Expiry Date </small>
      <span class="fw-bold">{{step.resolvedData?.idExpiryDate}}</span>
    </div>
    <!-- Addresses -->
    @for (item of step.resolvedData?.address?.addressListList; track $index) {
    <div class="col-12 d-flex flex-column gap-1">
      <small>Address {{$index + 1}} </small>
      <span class="fw-bold">{{item.district}}, {{item.streetName}}, {{item.city }}, {{item.buildingNumber}},
        {{item.postCode}}</span>
    </div>
    }
  </div>


  <form [formGroup]="formGroup"
        class="row g-2 row  g-1">
    <!-- ====== District Name ====== -->
    <div class="form-group col-12 col-md-6">
      <label for="district"
             class="form-label small"> District Name</label>
      <input type="number"
             id="district"
             formControlName="district"
             class="form-control" />
      @if (formGroup.get('district')?.errors?.['required'] && formGroup.get('district')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        This field is required
      </small>
      }
    </div>

    <!-- ====== Street Name ====== -->
    <div class="form-group col-12 col-md-6">
      <label for="street"
             class="form-label small">Street Name</label>
      <input type="text"
             id="street"
             formControlName="street"
             class="form-control" />
      @if (formGroup.get('street')?.errors?.['required'] && formGroup.get('street')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        This field is required
      </small>
      }
    </div>

    <!-- ====== City ====== -->
    <div class="form-group col-12 col-md-6">
      <label for="city"
             class="form-label small">City</label>
      <input type="text"
             id="city"
             formControlName="city"
             class="form-control" />
      @if (formGroup.get('city')?.errors?.['required'] && formGroup.get('city')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        This field is required
      </small>
      }
    </div>

    <!-- ====== Region ====== -->
    <div class="form-group col-12 col-md-6">
      <label for="region"
             class="form-label small">Region</label>
      <input type="text"
             id="region"
             formControlName="region"
             class="form-control" />
      @if (formGroup.get('region')?.errors?.['required'] && formGroup.get('region')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        This field is required
      </small>
      }
    </div>

    <!-- ====== Postal Code ====== -->
    <div class="form-group col-12 col-md-6">
      <label for="postalCode"
             class="form-label small">Postal Code</label>
      <input type="text"
             id="postalCode"
             formControlName="postalCode"
             class="form-control" />
      @if (formGroup.get('postalCode')?.errors?.['required'] && formGroup.get('postalCode')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        This field is required
      </small>
      }
    </div>

    <!-- ====== Additional Code ====== -->
    <div class="form-group col-12 col-md-6">
      <label for="additionalCode"
             class="form-label small">Additional Code </label>
      <input type="text"
             id="additionalCode"
             formControlName="additionalCode"
             class="form-control" />
      @if (formGroup.get('additionalCode')?.errors?.['required'] && formGroup.get('additionalCode')?.touched ) {
      <small class="text-danger mt-1 d-flex align-items-center gap-1">
        <i class="fa-solid fa-circle-exclamation"></i>
        This field is required
      </small>
      }
    </div>
  </form>
</div>