<div class="d-flex flex-column gap-4">
  <!-- ====== User Information Summary ====== -->
  <div class="shadow-sm px-2 py-2 bg-light row g-1 rounded-3">
    <!-- ====== Full Name ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Full name</small>
      <span class="fw-bold">{{step.resolvedData?.englishFirstName + ' ' + step.resolvedData?.englishLastName}}
      </span>
    </div>
    <!-- ====== Date of birth ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Date of Birth </small>
      <span class="fw-bold">{{step.resolvedData?.dateOfBirthH }}</span>
    </div>
    <!-- ====== Place of birth ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Place of Birth </small>
      <span class="fw-bold">{{step.resolvedData?.placeOfBirth }}</span>
    </div>
    <!-- ====== Nationality ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>Nationality</small>
      <span class="fw-bold">سعودي</span>
    </div>
    <!-- ====== ID Expiry Date ====== -->
    <div class="col-4 d-flex flex-column gap-1">
      <small>ID Expiry Date </small>
      <span class="fw-bold">{{step.resolvedData?.idExpiryDate}}</span>
    </div>
  </div>


  @for (item of step.resolvedData?.address?.addressListList; track $index) {
  <div class="d-flex gap-3 flex-column">
    <h6>Address {{$index + 1}}</h6>
    <div class="row  g-1 shadow-sm px-2 py-2 bg-light  rounded-3 border">
      <!-- ====== District ====== -->
      <div class="col-4 d-flex flex-column gap-1">
        <small>District </small>
        <span class="fw-bold">{{item.district}}
        </span>
      </div>
      <!-- ====== Street Name ====== -->
      <div class="col-4 d-flex flex-column gap-1">
        <small>Street Name </small>
        <span class="fw-bold">{{item.streetName }}</span>
      </div>
      <!-- ====== City ====== -->
      <div class="col-4 d-flex flex-column gap-1">
        <small>City </small>
        <span class="fw-bold">{{item.city }}</span>
      </div>
      <!-- ====== Building Number ====== -->
      <div class="col-4 d-flex flex-column gap-1">
        <small>Building Number</small>
        <span class="fw-bold">{{item.buildingNumber}}</span>
      </div>
      <!-- ====== Postal Code ====== -->
      <div class="col-4 d-flex flex-column gap-1">
        <small>Postal Code </small>
        <span class="fw-bold">{{item.postCode}}</span>
      </div>
    </div>
  </div>
  }

  <!-- ====== Custom Address ====== -->
  <div class="d-flex gap-3 flex-column">
    <h6>Custom Address</h6>
    <form class="row g-2 row  g-1 shadow-sm px-2 py-2 bg-light  rounded-3 border">
      <!-- ====== District Name ====== -->
      <div class="form-group col-12 col-md-6">
        <label class="form-label small"> District Name</label>
        <input type="text"
               class="form-control" />
      </div>

      <!-- ====== Street Name ====== -->
      <div class="form-group col-12 col-md-6">
        <label class="form-label small">Street Name</label>
        <input type="text"
               class="form-control" />
      </div>

      <!-- ====== City ====== -->
      <div class="form-group col-12 col-md-6">
        <label class="form-label small">City</label>
        <input type="text"
               class="form-control" />
      </div>

      <!-- ====== Postal Code ====== -->
      <div class="form-group col-12 col-md-6">
        <label class="form-label small">Postal Code</label>
        <input type="text"
               class="form-control" />
      </div>

      <!-- ====== Additional Code ====== -->
      <div class="form-group col-12 col-md-6">
        <label class="form-label small">Additional Code </label>
        <input type="text"
               class="form-control" />
      </div>
    </form>
  </div>
</div>