$utilities: (
  "opacity": (property: opacity,
    class: o,
    values: (0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1)),
  "cursor": (property: cursor,
    class: cursor,
    values: (pointer: pointer)),
  "padding-top": (property: padding-top,
    class: pt,
    values: (6: 6rem)),
  "padding-bottom": (property: padding-bottom,
    class: pb,
    values: (6: 6rem)),
  'viewport-height': (property: height,
    class: vh,
    responsive: true,
    values: (100: "100vh", // Add quotes to treat as a string
      70: "70vh"
    ))
);