$utilities: (
  "opacity": (property: opacity,
    class: o,
    values: (0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1)),
  "cursor": (property: cursor,
    class: cursor,
    values: (pointer: pointer)),
  "padding-top": (property: padding-top,
    class: pt,
    values: (6: 6rem)),
  "padding-bottom": (property: padding-bottom,
    class: pb,
    values: (6: 6rem)),
  "viewport-height": (property: height,
    class: vh,
    responsive: true,
    values: (100: 100vh,
      30: 30vh,
      70: 70vh)),
  "height": (property: height,
    class: h,
    responsive: true,
    values: (fit: fit-content,
      100: 100%)),
  // New utilities with 1rem included
  "top": (property: top,
    class: top,
    values: (0: 0,
      1: 1rem,
      50: 50%,
      100: 100%)),
  "bottom": (property: bottom,
    class: bottom,
    values: (0: 0,
      1: 1rem,
      50: 50%,
      100: 100%)),
  "start": (property: inset-inline-start,
    class: start,
    values: (0: 0,
      1: 1rem,
      50: 50%,
      100: 100%)),
  "end": (property: inset-inline-end,
    class: end,
    values: (0: 0,
      1: 1rem,
      50: 50%,
      100: 100%)),
  "width": (property: width,
    class: w,
    responsive: true,
    values: (fit: fit-content,
      100: 100%))
);