.container {
    h6 {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #5C6574;
    }

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 140%;
        color: #0F111D;

        max-width: 960px;
    }

    .partner-card {
        padding: 20px;

        background: #FCFFFE;
        box-shadow: 0px 0px 0px 1px rgba(51, 68, 99, 0.06);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}