<section class="container pb-6 pt-6">


    <div class="d-flex flex-column gap-5">
        <div class="text-center d-flex flex-column gap-3 align-items-center">
            <h6>
                لتقديم تجربة موثوقة وآمنة
            </h6>
            <h1>نتكامل مع العديد من الجهات والشركات الموثوقة وذلك لتقديم تجربة استثنائية وإلكترونية تخدم أهدافك وتحقق
                النمو
            </h1>
        </div>


        <div class="row g-4">
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
            <div class="col-3">
                <div class="partner-card">
                    <img src="assets/images/partner.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>

</section>