.members {
  background-color: #f9f9f9;
  max-width: 1371px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;


  img {
    max-width: 180px;
  }
}

.cards {
  @media screen and (max-width: 768px) {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}