<div *ngIf="content" class="justify-content-center">
  <div class="members container d-flex flex-column justify-content-center">
    <div class="row gap-5 d-flex">
      <div class="text-center">
        <h2 class="fw-bold m-1">{{ content.title }}</h2>
        <p>{{ content.subtitle }}</p>
      </div>
      <div class="row justify-content-center cards d-flex">
        @for (member of content.members; track member.id) {
        <div class="col-12 text-center row gap-3 col-md-3">
          <img src="assets/icons/about-us/manager.svg" alt="" />
          <h4 class="fw-bold">{{ member.name }}</h4>
          <div class="gap-2 flex-column d-flex">
            <h6 class="col-12">{{ member.role }}</h6>
            <p class="col-12 fw-light">{{ member.summary }}</p>
            <a class="mx-auto" [href]="member.linkedin" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
