<div class="background-container vh-100 mx-0">
  <div class="overlay"></div>
  <!-- Overlay Layer -->
  <div
    class="content d-flex flex-row justify-content-center row align-item-center position-relative"
  >
    <a href="/">
      <img src="assets/icons/registeration/Takween-Logo.svg" alt="" />
    </a>
    <div class="mb-2 row move col-12 text-end">
      <div class="dots col-12">
        <div class="col-5 text-start">
          <img
            class="move-2"
            style="width: 56px; height: 60px"
            src="/assets/icons/registeration/dots.svg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="discreption mt-5 col-md-9 col-sm-12 text-center">
      <div class="row p-0 m-0 fw-light">
        <div class="px-0">
          <p class="text-start p-0 m-0">
            <img
              class="text-start"
              src="/assets/icons/registeration/comma.svg"
              alt=""
            />
          </p>
          <strong class="text-white fs-5"
            >نقوم بانتقاء أفصل الفرص الاستثمارية بعناية شديدة</strong
          ><br />
          <strong class="text-white fs-5"
            >نقوم بانتقاء أفصل الفرص الاستثمارية بعناية شديدة</strong
          ><br />
          <strong class="text-white fs-5"
            >نقوم بانتقاء أفصل الفرص الاستثمارية بعناية شديدة</strong
          ><br />
          <strong class="text-white fs-5"
            >نقوم بانتقاء أفصل الفرص الاستثمارية بعناية شديدة</strong
          ><br />
          <strong class="text-white fs-5"
            >نقوم بانتقاء أفصل الفرص الاستثمارية بعناية شديدة</strong
          ><br />
          <strong class="text-white fs-5"
            >نقوم بانتقاء أفصل الفرص الاستثمارية بعناية شديدة</strong
          >
          <p class="p-0 m-0 text-end">
            <img src="/assets/icons/registeration/corner.svg" />
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 px-0 text-start downlogo">
      <img src="/assets/icons/registeration/circle.svg" class="move" alt="" />
    </div>
  </div>
</div>
