<div class="background-container vh-100 mx-0">
  <div class="overlay"></div>
  <!-- Overlay Layer -->
  <div class="content d-flex flex-row h-100 justify-content-center row align-item-center position-relative px-5">
    <a href="/">
      <img src="assets/icons/registeration/Takween-Logo.svg"
           alt="" />
    </a>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt saepe atque natus aperiam
      possimus quis
      rerum labore libero tempore corrupti ad, dolores accusantium aliquid exercitationem adipisci dignissimos
      modi cupiditate velit!</p>
  </div>
</div>