:host {
  display: block;
  width: 100%;
}

.background-container {
  background-image: url("/assets/images/branding.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: 1;
  opacity: .8;
}

.content {
  position: relative;
  z-index: 2;
}