:host {
  display: block;
  width: 100%;
  position: relative;

  .version {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    z-index: 4;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
  }

  .background-container {
    background-image: url('/assets/images/branding.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  img {
    width: 200px;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 1;
    opacity: 0.8;
  }

  .content {
    position: relative;
    z-index: 2;
  }

  p {
    max-width: 600px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
  }
}
