<div class="background-container vh-100 mx-0">
  <div class="overlay"></div>
  <!-- Overlay Layer -->
  <div class="content d-flex flex-column h-100 justify-content-center gap-3 position-relative px-5">
    <img src="https://takweentech.sa/images/takween-logo.png"
         alt="" />
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt saepe atque natus aperiam
      possimus quis
      rerum labore libero tempore corrupti ad, dolores accusantium aliquid exercitationem adipisci dignissimos
      modi cupiditate velit!</p>
  </div>
</div>